// ======================================
//  site wide
// ======================================
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

html {
  font-size: 0.625em;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;;
}

body {
  color: $default_font-color;
  font-family: $default_font-family;
  font-size: $default_font-size;
  line-height: $default_line-height;
  background-color: $default_background-color;
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
 @include container();
 @include show-grid(12);
}


h1, h2, h3, h4, h5, h6 {
  font-family: $default_font-family;
  margin: 0.1em 0;
}


h1 {
  font-size: 4.4rem;
  line-height: 5rem;
  font-weight: $bold;
}

h2 {
  font-size: 4.2rem;
  line-height: 4.8rem;
  font-weight: $bold;
}

h3 {
  font-size: 2.4rem;
  line-height: 3rem;
  color: $blue;
}

h4 {
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: $bold;
}

h5 {
  font-size: 2rem;
  line-height: 2.8rem;

}

h6 {
  font-size: 1.4rem;
  line-height: 2rem;
}


p {

  font-size: 1.7em;
  line-height: 2.4rem;

}

blockquote {
  font-size: 1.4rem;
}

a {
  color: $default_link-color;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  text-decoration: none;

  &:hover {
    color: $default_link-color--hover;
    text-decoration: none;
  }
}

/* remove ios shadow */

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=button] {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.sitebutton {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  padding: 9px 15px;
  border-radius: 2px;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid $system_sitebutton_border-color;
  background-color: transparent;
  color: $system_sitebutton_color;
}
.sitebutton:hover {
  color: #fff;
  border: 1px solid #5ac5c5;
  background-color: #5ac5c5;
}

.preview_overlay_content img {
  width: 20px;
}
img.preview_show {
  width: 20px;
}

/* popup windows */

.popupwindow_title {
  color: $system_calendar_popup_window-color;
}

/* view all forums  icon */
.forums_boxout_contents a img {
  width: 20px;
  margin-right: 8px;
}

/* directory search icon */
tr.gridheader a img {
  width: 25px;
}

/* media list icons */

.media_box_cell img {
  width: 18px;
}
.MediaListRSS img {
  width: 40px;
}
/* signup sheet */
table.signup tr td, td.signup0 {

  line-height: 0;
  font-size: 0;
  border-collapse: separate;
}

table.signup tr td img {
  height: 8px !important;
}
/* form styling */
input {
  -webkit-appearance: none;
}
input[type="checkbox"] + label, input[type="radio"] +  label {
  margin-left:10px;
}


// hide author info on articles
.content_page_main .ArticleBody .author {
  display: none;
}


@media (min-width: $breakpoint-sm) {

  body {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }


  h1 {
    font-size: 4.4rem;
    line-height: 5rem;
    font-weight: $bold;
  }

  h2 {
    font-size: 4.2rem;
    line-height: 4.8rem;
    font-weight: $bold;
  }

  h3 {
    font-size: 2.4rem;
    line-height: 3rem;
    color: $blue;
  }

  h4 {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: $bold;
  }

  h5 {
    font-size: 2rem;
    line-height: 2.8rem;

  }

  h6 {
    font-size: 1.4rem;
    line-height: 2rem;
  }


  p {
    margin-bottom: 2.4rem;
  }

  blockquote {
    font-size: 1.6rem;
  }

}
