// ======================================
//  site wide
// ======================================
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Montserrat:400,700);


section, .isolate_element {
  float:none !important; // de-float the item.
  // Apply clearfix to the item.
  &::before, &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

// Attempt to deal with the annoying Android font-boosting feature
// by setting the max-height property to a large value.
// 100,000 pixels is about 50-100 screens worth, so should be fine, for our slices.
section {max-height:100000px;}



html {
  font-size: 0.625em;
}

*, *:before, *:after {
  box-sizing: border-box;;
}

body {
  color: $default_font-color;
  font-family: $default_font-family;
  font-size: $default_font-size;
  line-height: $default_line-height;
  background-color: $default_background-color;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.container {
  @include container();
  @include show-grid(12);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $default_font-family-2;
  margin: 0.1em 0;
  color: $default_font-color;
}

h1 {
  font-size: 3.4rem;
  line-height: 3.6rem;
  font-weight: $bold;
}

h2 {
  font-size: 3rem;
  line-height: 3.2rem;
  font-weight: $bold;
}

h3 {
  font-size: 2.5rem;
  line-height: 2.7rem;
}

h4 {
  font-size: 2.2rem;
  line-height: 2.4rem;
}

h5 {
  font-size: 2rem;
  line-height: 2.2rem;
}

h6 {
  font-size: 1.8rem;
  line-height: 2rem;
}

blockquote {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 5px solid #3c3c3c;
}

a {
  color: $default_link-color;
  transition: all 500ms ease;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $default_link-color--hover;
    text-decoration: none;
  }
}

/* remove ios shadow */

input, textarea {
 // appearance: none;
}

input[type=button], input[type=submit]       {
  transition: all 500ms ease;
}

.sitebutton, .button, .aspNetDisabled {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  padding: 9px 15px;
  border-radius: 0;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  border: 2px solid $system_sitebutton_border-color;
  background-color: $system_sitebutton_background-color;
  color: $system_sitebutton_color;

}

.sitebutton:hover, .button:hover, .aspNetDisabled:hover {
  color: $system_sitebutton_color--hover;
  border: 2px solid $system_sitebutton_border-color--hover;
  background-color: $system_sitebutton_background-color--hover;
  cursor: pointer;
}
::-ms-input-placeholder,
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder
{
color: $default_placeholder-color;
}

.preview_overlay_content img {
  width: 20px;
}

img.preview_show {
  width: 20px;
}

/* popup windows */

.popupwindow_title {
  color: $system_calendar_popup_window-color;
}



/* view all forums  icon */
.forums_boxout_contents a img {
  width: 20px;
  margin-right: 8px;
}

/* directory search icon */
tr.gridheader a img {
  width: 25px;
}

/* media list icons */

.media_box_cell img {
  width: 18px;
}

.MediaListRSS img {
  width: 40px;
}

/* signup sheet */
table.signup tr td, td.signup0 {

  line-height: 0;
  font-size: 0;
  border-collapse: separate;
}

table.signup tr td img {
  height: 8px !important;
}

/* form styling */

input[type="checkbox"] + label, input[type="radio"] + label {
  margin-left: 10px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: $normal;
}

input:not([type=checkbox]):not([type=radio]):not([type=button]) {
  box-shadow: none !important;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  margin-left: 10px;
}

.ArticleBody input:not([type=checkbox]):not([type=radio]):not([type=button]), .ArticleBody textarea,
.ArticleEditor input:not([type=checkbox]):not([type=radio]):not([type=button]), .ArticleEditor textarea {
  margin-bottom: 8px;
  padding: 4px 3px;
  border: 1px solid $default_form_border-color;
  border-radius: 4px;
  margin-top: 5px;
  width: 100%;
}

.ArticleBody textarea, .ArticleEditor textarea {
  width: 100%;
}

.ArticleBody input:focus, .ArticleBody textarea:focus,
.ArticleEditor input:focus, .ArticleEditor textarea:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(49, 167, 222, 0.8)
}

// hide author info on articles
.main_content .ArticleBody .author {
  display: none;
}

@media (min-width: $breakpoint-sm) {

  body {
    font-size: $default_font-size + 0.2;
    line-height: $default_font-size + 0.6rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $default_font-color;
  }

  h1 {
    font-size: 4.4rem;
    line-height: 4.6rem;
    font-weight: $bold;
  }

  h2 {
    font-size: 4rem;
    line-height: 4.2rem;
    font-weight: $bold;
  }

  h3 {
    font-size: 2.8rem;
    line-height: 3rem;
  }

  h4 {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  h5 {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  h6 {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  p {
    margin-bottom: 2.4rem;
  }

  blockquote {
    font-size: 1.7rem;
  }

}

