@include border-box-sizing;

$susy: (
        columns: 12,
        container: 1170px,
        gutters: 40px/98px,
        gutter-position: split,
        output: overlay,
        global-box-sizing: border-box,
        debug: (
                image: show-columns,
                toggle: top right,
                output: background
        ),
        use-custom: (
          clearfix: false
        )
);



$breakpoint_ti: 467px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;


//Add Color Palette
$blue       : #063642;
$blue-light : #5c9cc9;
$blue-link  : #0db0d9;
$border-grey : #555555;
$dark-grey  : #4D4D4D;
$darker-grey  : #3a3a3a;
$grey-light: #c6c6c6;
$white      : #FFFFFF;

//Font variables
$thin     : 200;
$normal   : 400;
$bold     : 600;
$heavy    : 800;

// site defaults
$default_font-family : Lato, Arial, sans-serif;
$default_font-color  : $dark-grey;
$default_font-size   : 1.6rem;
$default_line-height : $default_font-size + 0.4rem;

$default_link_color: $blue-link;
$default_link-color--hover : lighten($blue, 30);


// ======================================
//  site logo & site name
// ======================================

$site_logo_name-height: auto;
$site_logo-margin-top: 15px;
$site_logo-font-size: 2.6rem;
$site_logo-max-width: 80%;
$site_logo-color: $blue;
$site_name-margin-bottom: 75px;


// ======================================
//  nav - dropdown menu
// ======================================

// $nav_container-max-width: 960px;
// $nav_container-width: 820px;
$nav_background-color: $white;
$nav_link-color: $default_link_color;
$nav_link-color--hover: $default_link_color--hover;
$nav_link-font-size: 1.8rem;
$nav_link-font-weight: $normal;
$nav_link-background-color: $grey-light;
$nav_link-background-color--hover: transparent;
$nav_link_top-margin-top: 4px;
$nav_link_home-margin-top: 0;

$nav_dropdown_link-font-size: 1.4rem;
$nav_dropdown_link-background-color: $grey-light;
$nav_dropdown_link-color: $default_font-color;
$nav_dropdown_link-color--hover: $default_link-color--hover;
$nav_dropdown_link-background-color--hover: $grey-light;
$nav_dropdown-background-color: $grey-light;
$nav_dropdown-color: $default_link_color;
$nav_dropdown-background-color--hover: $grey-light;
$nav_dropdown-color--hover: $default_link_color--hover;

// ======================================
//  affinity slicknav mobile menu
// ======================================

$slicknav_button-menu-color: $white;
$slicknav_button-text-shadow: rgba(255, 255, 255, 0.75);
$slicknav_button-background-color: transparent ;
$slicknav_button-background-color--open: transparent;
$slicknav-color: $white;
$slicknav-text-shadow: $white;
$slicknav-header-background-color: $blue;
$slicknav-top-level-background-color: $blue;
$slicknav-background-color: $blue-light;
$slicknav-background-color--hover: transparent;
$slicknav-color--hover: darken($blue-light,15);
$slicknav-color--open: $slicknav-color;
$slicknav-background--open: transparent;
$slicknav-background--open--hover: $blue-light;
$slicknav-toplink-background-color--open: lighten($blue-light,10);
$slicknav-toplink-color--open: $slicknav-color;
$slicknav-font-size: $default_font-size;
$slicknav-submenu-font-size: $default_font-size -3px;
$slicknav_sub_menu-background-color: lighten($blue-light,20);
$slicknav-link-border-color: $blue;
$slicknav-background-parent--collapsed: lighten($blue-light,20);
$slicknav-background-parent--open: $blue-light;


// ======================================
//  affinity footerbar
// ======================================

$footerbar_background-color: $darker-grey;
$footerbar_font-color: #b1b1b1;
$footerbar_font-size: 1.3rem;


// ======================================
//  affinity footertop-1
// ======================================

$footertop1_background-color: $blue-light;


// ======================================
//  affinity footertop-2
// ======================================

$footertop2_background-color: $darker-grey;
$footertop2_font-color: $grey-light;
$footertop2_font-color-link: $grey-light;

$footertop2_search_button-background-color: $blue-light;
$footertop2_search_button-background-color--hover: lighten($blue-light, 20%);
$footertop2_search_button-color: $white;


// ======================================
//  affinity system
// ======================================


$system_sitebutton_border-color: $blue-light;
$system_sitebutton_color: $blue-light;

//  affinity system - statusbar
// ======================================

$system_statusbar_link_border-color: $border-grey;
$system_statusbar_link_color: $grey-light;

$system_statusbar_loginbox_border-color: $blue-light;


//  affinity system - calendar
// ======================================

$system_calendar_day_header-color: $dark-grey;
$system_calendar_day_header-border-color: #43525a;
$system_calendar_day_header-background-color: #f6f6f6;
$system_calendar_day_wrapper_today-background-color: $white;
$system_calendar_calendar_day_today-background-color: $white;
$system_calendar_event_all_day-background-color: $white;
$system_calendar_other_month-background-color: $white;


$system_profile-background-color: #eef7fb;

$system_tabSelected-background-color: #eef7fb;
$system_tabSelected-border-color: #eef7fb;
$system_tabLeft-color: $white;
$system_tabLeft-border-color: $white;
$system_tabRight-color: $white;
$system_tabRight-border-color: $white;
$system_tabLink-color: #0cc;
$system_tabLink-background-color: #f7fbfd;
$system_tabLink-color--hover: #0CC;
$system_tabLink-background-color--hover: #e3f1f8;

$system_shadedBox-background-color: #eef7fb;

$system_my_area_navigation-background-color: #999;

//  affinity system - forums
// ======================================

$system_griditem-background-color: #eef7fb;
$system_comment_form_button-background-color: transparent;
$system_comment_form_button-border-color: #d1d2d4;
$system_comment_form_button-color: $dark-grey;
$system_comment_form_button-background-color--hover: #5ac5c5;
$system_comment_form_button-border-color--hover: #5ac5c5;
$system_comment_form_button-color--hover: $white;

//  affinity system - media
// ======================================

$system_media_recording_title-color: $dark-grey;

//  affinity system - rotas
// ======================================

$system_subMenu-color: $white;
$system_subMenu-border-color: #0cc;
$system_subMenu-background-color: #0cc;

//  affinity system - address
// ======================================
$system_address_column-border-color: $white;
$system_address_user_details_cell-border-color: $white;
$system_address_address_user_first_name-background-color: #f6f6f6;
$system_address_address_family_title-background-color: #f6f6f6;


//  affinity system - popup windows
// ======================================
$system_calendar_popup_window-color: $dark-grey;
$system_calendar_popup_window-background-color: $white;
$system_calendar_popup_window-title-background-color: $white;
$system_calendar_popup_window-table-background-color: $white;
$system_calendar_day_header-border-color: #43525a;




