@include border-box-sizing;

$susy: (
        columns: 12,
        container: 1170px,
        gutters: 30px/67px, // 67px columns, 30px gutters
        gutter-position: split,
        output: overlay,
        global-box-sizing: border-box,
        debug: (
                // image: show-columns,
                // toggle: top right,
                // output: background
        ),
        use-custom: (
          clearfix: false
        )
);

$breakpoint_ti: 467px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;


//Font variables
$thin     : 300;
$normal   : 400;
$bold     : 700;
$heavy    : 800;

// site defaults
$default_font-family : Lato, Arial, sans-serif;
$default_font-family-2 : Montserrat, Arial, sans-serif;
$default_font-color  : #2b4049;
$default_font-size   : 1.5rem;
$default_line-height : $default_font-size + 0.2rem;
$default_link_color: #129dc0;
$default_link-color--hover : #4acfc7;
$default_background-color: #fff;
$default_button-background-color: #129dc0;
$default_button-background-color--hover: #129dc0;
$default_button-border-color: #129dc0;
$default_button-border-color--hover: #129dc0;
$default_button-color: #fff;
$default_button-color--hover: #fff;
$default_form_border-color: #dadee4;
$default_placeholder-color: #4acfc7;


// ======================================
//  site logo & site name
// ======================================

$site_logo-margin-top: 15px;
$site_logo-margin-bottom: 10px;
$site_name-font-size: 2.2rem;
$site_name-color: #2b4049;

// ======================================
//  top links
// ======================================
$top_links_icon-color: #129dc0;
$top_links_font-size: 16px;
$top_links_line-height: 20px;

// ======================================
//  search overlay
// ======================================

$search_box-background-color: #4acfc7;
$search_box_input-border-color: #fff;
$search_box_input-background-color: #f5f5f5;
$search_box_input-color: #2c4048;

// ======================================
//  slicknav mobile menu
// ======================================

$slicknav_button-menu-color: #2c4048;
$slicknav_button-text-shadow: none;
$slicknav_button-background-color: transparent ;
$slicknav_button-background-color--open: transparent;
$slicknav_icon-menu-color: #2c4048;
$slicknav_icon-menu-background-color: #5acfc6;

$slicknav-color: #2b4049;
$slicknav-text-shadow: none;
$slicknav-header-background-color: transparent;
$slicknav-top-level-background-color: #f5f5f5;
$slicknav-background-color: #f5f5f5;
$slicknav-background-color--hover: #fff;
$slicknav-color--hover: #129dc0;
$slicknav-color--open: $slicknav-color;
$slicknav-background--open: #f5f5f5;
$slicknav-background--open--hover: #fff;
$slicknav-toplink-color--open: $slicknav-color;
$slicknav-font-size: 1.5rem;
$slicknav-submenu-font-size: $default_font-size -0.2rem;
$slicknav_sub_menu-background-color: #f5f5f5;
$slicknav-link-border-color: transparent;
$slicknav-background-parent--collapsed: #f5f5f5;
$slicknav-background-parent--open: #f5f5f5;

// ======================================
//  slice banner slideshow
// ======================================
$banner_slideshow-background-color: #fff;
$banner_slideshow_pager-background-color: #f5f5f5;
$banner_slideshow_pager-background-color--active: #4acfc7;
$banner_slideshow_pager-width-height: 14px;
$banner_slideshow_control-background-color: transparent;
$banner_slideshow_slidetitle-font-family: $default_font-family-2;
$banner_slideshow_slidetitle-font-size: 2.5rem;
$banner_slideshow_slidetitle-color: #fff;
$banner_slideshow_slidetext-font-family: $default_font-family;
$banner_slideshow_slidetext-font-size: 1.1rem;
$banner_slideshow_slidetext-color: #fff;
$banner_slideshow-button-color: #fff;
$banner_slideshow-button-background-color: #2d9ebd;
$banner_slideshow-button-background-color--hover: #2d9ebd;
$banner_slideshow-button-font-size: 0.7rem;
$banner_slideshow_icon_font-size: 2rem;
$banner_slideshow_icon_color: #b4bbbd;
$banner_slideshow_icon_color--hover: #fff;

// ======================================
//  nav - dropdown menu
// ======================================

$nav_background-color: transparent;
$nav_link-color: #2c4048;
$nav_link-color--hover: #129dc0;
$nav_link-font-size: 1.6rem;
$nav_link-font-weight: $bold;
$nav_link-background-color: #ffffff;
$nav_link-background-color--hover: #f5f5f5;
$nav_link_top-margin-top: 4px;
$nav_link_home-margin-top: 0;

$nav_dropdown_link-font-size: 1.6rem;
$nav_dropdown_link-background-color: #f5f5f5;
$nav_dropdown_link-color: #2c4048;
$nav_dropdown_link-color--hover: #129dc0;
$nav_dropdown-background-color: #f5f5f5;
$nav_dropdown-background-color--hover: #ffffff;

$nav_dropdown-reverse-last-item-opening-direction: true; // set to true or false

// ======================================
//  slice blocks 2
// ======================================

$block2-color: #2d4048;
$block2_title-color: #2d4048;
$block2_background-color: #f5f5f5;
$block2_border-color: #e1e1e1;
$block2_icon_color: #4acfc7;
$block2_icon_font-size: 4rem;

// ======================================
//  slice block 1
// ======================================

$block1-color: #2b4049;
$block1_form_title_font-family: $default_font-family;
$block1_title-color: #2c4048;
$block1_title_font-size: 2rem;
$block1_title_margin-bottom: 1rem;
$block1_background-color: #fff;
$block1_button-font-size: 1.3rem;
$block1_button-color: #129dc0;
$block1_button-color--hover: #fff;
$block1_button-border-color: #129dc0;
$block1_button_background-color--hover: #129dc0;
$block1_font-size: 1.5rem;
$block1_line-height: $block1_font-size + 0.5rem;

// ======================================
//  slice block 1 form
// ======================================

$block1_form-color: #fff;
$block1_form_title-color: #2d4048;
$block1_form_title_font-size: 2rem;
$block1_form_title_font-family: $default_font-family-2;
$block1_form_title_margin-bottom: 1rem;
$block1_form_slice_background-image: #fff url(../images/stripes.png);
$block1_form_background-color: #5acfc6;
$block1_form_button-font-size: 1.3rem;
$block1_form_button-color: #fff;
$block1_form_button-color--hover: #fff;
$block1_form_button-border-color: #2b91ad;
$block1_form_button-border-color--hover: #2d9ebd;
$block1_form_button_background-color: #2b91ad;
$block1_form_button_background-color--hover: #2d9ebd;
$block1_form_font-size: 1.5rem;
$block1_form_line-height: $block1_font-size + 0.8rem;
$block1_form_label-font-size: 1.5rem;
$block1_form_label-color: #fff;
$block1_form_text_title-color: #fff;
$block1_form_text_title_font-size: 1.8rem;
$block1_form_text_title_margin-bottom: 1.8rem;
$block1_form_input_background-color: #fff;
$block1_form_input_color: #7f7e7e;
$block1_form_input_font-size: 1.7rem;

// ======================================
//  slice block 1 background image
// ======================================

$block1_image-color: #fff;
$block1_image_font-family: $default_font-family-2;
$block1_image_slice_background-image: url(../images/children.jpg);
$block1_image_title1-color: #fff;
$block1_image_title1_font-size: 2.5rem;
$block1_image_title1_margin-bottom: 1rem;
$block1_image_title2-color: #fff;
$block1_image_title2_font-size: 1.5rem;
$block1_image_title2_margin-bottom: 1rem;
$block1_image_title3-color: #fff;
$block1_image_title3_font-size: 1.4rem;
$block1_image_title3_line-height: 3rem;
$block1_image_title3_margin-bottom: 0.5rem;
$block1_image_background-color: #fff;
$block1_image_button-font-size: 1.3rem;
$block1_image_button-color: #fff;
$block1_image_button-color--hover: #fff;
$block1_image_button-border-color: #9fb9c4;
$block1_image_button-border-color--hover: #2d9ebd;
$block1_image_button_background-color: transparent;
$block1_image_button_background-color--hover: #2d9ebd;

// ======================================
//  slice slideshow mini
// ======================================
$slideshow_mini-color: #fff;
$slideshow_mini_title-color: #2d4048;
$slideshow_mini_title_font-size: 2rem;
$slideshow_mini_title_margin-bottom: 1rem;
$slideshow_mini_slice-background-image:  #fff url(../images/stripes.png);
$slideshow_mini-background-color: #fff;
$slideshow_mini_pager-background-color: transparent;
$slideshow_mini_pager-border-color: #898989;
$slideshow_mini_pager-background-color--active: #898989;
$slideshow_mini_pager-width-height: 14px;
$slideshow_mini_control-background-color: transparent;
$slideshow_mini_icon_font-size: 2rem;
$slideshow_mini_icon_color: #7b878a;
$slideshow_mini_icon_color--hover: #fff;

// ======================================
//  slice buttons 3
// ======================================
$buttons_3_slice-background-image:  #fff url(../images/stripes.png);
$buttons_3_font-size: 1.5rem;
$buttons_3_font-weight: $bold;
$buttons_3_color: #fff;
$buttons_3_button1_background-color: #4acfc7;
$buttons_3_button1_background-color--hover: #24bfb6;
$buttons_3_button1_icon_color: #a5e7e3;
$buttons_3_button1_icon_font-size: 2.5rem;
$buttons_3_button2_background-color: #e84c3d;
$buttons_3_button2_background-color--hover: #d84638;
$buttons_3_button2_icon_color: #f4a69e;
$buttons_3_button2_icon_font-size: 2.5rem;
$buttons_3_button3_background-color: #129dc0;
$buttons_3_button3_background-color--hover: #1590af;
$buttons_3_button3_icon_color: #c3dcf6;
$buttons_3_button3_icon_font-size: 2.5rem;
// ======================================
//  slice block 1 image2
// ======================================

// ======================================
//  slice block 1 background image2
// ======================================

$block1_image2-color: #fff;
$block1_image2_slice_background-image: url(../images/piano.jpg);
$block1_image2_title1-color: #fff;
$block1_image2_title_font-family: $default_font-family-2;
$block1_image2_title1_font-size: 2.5rem;
$block1_image2_title1_margin-bottom: 1rem;
$block1_image2_title3-color: #fff;
$block1_image2_title3_font-size: 1.4rem;
$block1_image2_title3_line-height: 2rem;
$block1_image2_title3_margin-bottom: 0.5rem;
$block1_image2_background-color: #fff;
$block1_image2_button-font-size: 1.3rem;
$block1_image2_button-color: #fff;
$block1_image2_button-color--hover: #fff;
$block1_image2_button-border-color: #9db9c5;
$block1_image2_button-border-color--hover: #129dc0;
$block1_image2_button_background-color: transparent;
$block1_image2_button_background-color--hover: #129dc0;

// ======================================
//  slice article list 4
// ======================================

$al_4_image-border-color: #d1d2d4;
$al_4_title-color: #2d4048;
$al_4_title-font-size: 2rem;
$al_4_summary-color: #2d4048;
$al_4_summary-font-size: 1.6rem;
$al_4_summary-line-height: 2.4rem;
$al_4_link-color: #129dc0;
$al_4_link-color--hover: #fff;
$al_4_link-font-size: 1.4rem;
$al_4_link-border-color: #129dc0;
$al_4_link-background-color--hover: #129dc0;
// ======================================
//  slice footerbar
// ======================================

$footerbar_background-color: #f5f5f5;
$footerbar_font-color: #2d4048;
$footerbar_font-size: 1.3rem;
$footerbar_background-image: url(../images/site-by-churchinsight.png);
$footerbar_background-image--hover: url(../images/site-by-churchinsight-hover.png);
$footerbar_border-color: #e1e1e1;


// ======================================
//  slice footertop1
// ======================================

$footertop1_background-color: #f5f5f5;
$footertop1_font-color: #2b4049;
$footertop1_font-color-link: #129dc0;
$footertop1_font-color-link--hover: #4acfc7;
$footertop1_font-size: 1.4rem;
$footertop1_line-height: $footertop1_font-size * 1.5;
$footertop1_icon_color: #4acfc7;
$footertop1_icon_font-size: 4rem;
$footertop1_icon_facebook_color: #3b5998;
$footertop1_icon_twitter_color: #1da1f2;
$footertop1_icon_vimeo_color: #1ab7ea;
$footertop1_icon_googleplus_color: #d34836;
$footertop1_icon_linkedin_color: #0077b5;

// ======================================
//  content page
// ======================================

$content_page_background-color: #fff;
$content_page_background-color-2: #ebebeb;
$content_page_content_background-color: #fff;

// ======================================
//  sidebar group nav
// ======================================
$sidebar_group_nav_background-color: #fff;
$sidebar_group_nav_header_background-color: #2b4049;
$sidebar_group_nav_header_font-size: 1.6rem;
$sidebar_group_nav_header_color: #fff;
$sidebar_group_nav_font-size: 1.5rem;
$sidebar_group_nav_color: #2b4049;
$sidebar_group_nav_selected_color: #129dc0;
$sidebar_group_nav_selected_background_color: #f5f5f5;


// ======================================
//  sidebar buttons 3
// ======================================
$sidebar_buttons_slice-background-image:  #fff url(../images/stripes.png);
$sidebar_buttons_font-size: 1.7rem;
$sidebar_buttons_font-weight: $bold;
$sidebar_buttons_color: #fff;
$sidebar_buttons_button1_background-color: #4acfc7;
$sidebar_buttons_button1_background-color--hover: #24bfb6;
$sidebar_buttons_button1_background-image: url(../images/icon-news.png);
$sidebar_buttons_button1_icon_font-size: 2.5rem;
$sidebar_buttons_button1_icon_color: #a5e7e3;
$sidebar_buttons_button2_background-color: #e84c3d;
$sidebar_buttons_button2_background-color--hover: #d84638;
$sidebar_buttons_button2_background-image: url(../images/icon-events.png);
$sidebar_buttons_button2_icon_font-size: 2.5rem;
$sidebar_buttons_button2_icon_color: #f4a69e;
$sidebar_buttons_button3_background-color: #129dc0;
$sidebar_buttons_button3_background-color--hover: #1590af;
$sidebar_buttons_button3_background-image: url(../images/icon-headphones.png);
$sidebar_buttons_button3_icon_font-size: 2.5rem;
$sidebar_buttons_button3_icon_color: #c3dcf6;
// ======================================
//  system
// ======================================

$system_sitebutton_border-color: #129dc0;
$system_sitebutton_color: #129dc0;

//  system - statusbar
// ======================================

$system_statusbar_link_border-color: #f5f5f5;
$system_statusbar_link_color: #f5f5f5;

$system_statusbar_loginbox_border-color: #129dc0;


//  system - calendar
// ======================================

$system_calendar_day_header-color: #129dc0;
$system_calendar_day_header-border-color: #43525a;
$system_calendar_day_header-background-color: #f6f6f6;
$system_calendar_day_wrapper_today-background-color: #fff;
$system_calendar_calendar_day_today-background-color: #fff;
$system_calendar_event_all_day-background-color: #fff;
$system_calendar_other_month-background-color: #fff;


$system_profile-background-color: #eef7fb;

$system_tabSelected-background-color: #eef7fb;
$system_tabSelected-border-color: #eef7fb;
$system_tabLeft-color: #fff;
$system_tabLeft-border-color: #fff;
$system_tabRight-color: #fff;
$system_tabRight-border-color: #fff;
$system_tabLink-color: #0cc;
$system_tabLink-background-color: #f7fbfd;
$system_tabLink-color--hover: #0CC;
$system_tabLink-background-color--hover: #e3f1f8;

$system_shadedBox-background-color: #eef7fb;

$system_my_area_navigation-background-color: #999;

//  system - forums
// ======================================

$system_griditem-background-color: #eef7fb;
$system_comment_form_button-background-color: transparent;
$system_comment_form_button-border-color: $default_button-border-color;
$system_comment_form_button-color: #129dc0;
$system_comment_form_button-background-color--hover: $default_button-background-color;
$system_comment_form_button-border-color--hover: $default_button-border-color--hover;
$system_comment_form_button-color--hover: #fff;

//  system - media
// ======================================

$system_media_recording_title-color: #129dc0;

//  system - rotas
// ======================================

$system_subMenu-color: #fff;
$system_subMenu-border-color: $default_button-border-color;
$system_subMenu-background-color: $default_button-background-color;

//  system - address
// ======================================
$system_address_column-border-color: #fff;
$system_address_user_details_cell-border-color: #fff;
$system_address_address_user_first_name-background-color: #f6f6f6;
$system_address_address_family_title-background-color: #f6f6f6;


//  system - popup windows
// ======================================
$system_calendar_popup_window-color: #129dc0;
$system_calendar_popup_window-background-color: #fff;
$system_calendar_popup_window-title-background-color: #fff;
$system_calendar_popup_window-table-background-color: #fff;
$system_calendar_day_header-border-color: #43525a;

