@include border-box-sizing;

$susy: (
        columns: 12,
        container: 1170px,
        gutters: 30px/67px, // 67px columns, 30px gutters
        gutter-position: split,
        output: overlay,
        global-box-sizing: border-box,
        debug: (
                image: show-columns,
                toggle: top right,
                output: background
        ),
        use-custom: (
          clearfix: false
        )
);

$breakpoint_ti: 467px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;


//Font variables
$thin     : 200;
$normal   : 400;
$bold     : 700;
$heavy    : 800;

// site defaults
$default_font-family : Lato, Arial, sans-serif;
$default_font-family-2 : Montserrat, Arial, sans-serif;
$default_font-color  : #2b4049;
$default_font-size   : 0.625rem;
$default_line-height : $default_font-size + 0.2rem;
$default_link_color: #129dc0;
$default_link-color--hover : #4acfc7;
$default_background-color: #fff;
$default_button-background-color: #129dc0;
$default_button-color: #fff;


// ======================================
//  site logo & site name
// ======================================

$site_logo-margin-top: 15px;
$site_logo-margin-bottom: 10px;
$site_name-font-size: 2.2rem;
$site_name-color: #2b4049;

// ======================================
//  slicknav mobile menu
// ======================================

$slicknav_button-menu-color: #2c4048;
$slicknav_button-text-shadow: none;
$slicknav_button-background-color: transparent ;
$slicknav_button-background-color--open: transparent;
$slicknav_icon-menu-color: #2c4048;
$slicknav_icon-menu-background-color: #5acfc6;

$slicknav-color: #2b4049;
$slicknav-text-shadow: none;
$slicknav-header-background-color: transparent;
$slicknav-top-level-background-color: #f5f5f5;
$slicknav-background-color: #f5f5f5;
$slicknav-background-color--hover: #fff;
$slicknav-color--hover: #129dc0;
$slicknav-color--open: $slicknav-color;
$slicknav-background--open: #f5f5f5;
$slicknav-background--open--hover: #fff;
$slicknav-toplink-color--open: $slicknav-color;
$slicknav-font-size: 1.5rem;
$slicknav-submenu-font-size: $default_font-size -0.2rem;
$slicknav_sub_menu-background-color: #f5f5f5;
$slicknav-link-border-color: transparent;
$slicknav-background-parent--collapsed: #f5f5f5;
$slicknav-background-parent--open: #f5f5f5;

// ======================================
//  slice banner slideshow
// ======================================
$banner_slideshow-background-color: #fff;
$banner_slideshow_pager-background-color: #f5f5f5;
$banner_slideshow_pager-background-color--active: #4acfc7;
$banner_slideshow_pager-width-height: 14px;
$banner_slideshow_control-background-color: transparent;
$banner_slideshow_slidetitle-font-family: $default_font-family-2;
$banner_slideshow_slidetitle-font-size: 2.5rem;
$banner_slideshow_slidetitle-color: #fff;


/*
// ======================================
//  nav - dropdown menu
// ======================================

$nav_background-color: transparent;
$nav_link-color: $grey-mid;
$nav_link-color--hover: lighten(#129dc0,40);
$nav_link-font-size: 1.6rem;
$nav_link-font-weight: $normal;
$nav_link-background-color: #129dc0;
$nav_link-background-color--hover: darken(#129dc0, 10);
$nav_link_top-margin-top: 4px;
$nav_link_home-margin-top: 0;

$nav_dropdown_link-font-size: 1.6rem;
$nav_dropdown_link-background-color: #129dc0;
$nav_dropdown_link-color: #fff;
$nav_dropdown_link-color--hover: darken(#129dc0,40);
$nav_dropdown_link-background-color--hover: darken(#129dc0,50);
$nav_dropdown-background-color: #129dc0;
$nav_dropdown-color: $default_link_color;
$nav_dropdown-background-color--hover: $grey-light;
$nav_dropdown-color--hover: $default_link_color--hover;


// ======================================
//  slice blocks 2
// ======================================

$block2-color: $grey-mid;
$block2-title-color: $purple-dark;


// ======================================
//  slice footerbar
// ======================================

$footerbar_background-color: #129dc0er;
$footerbar_font-color: #b1b1b1;
$footerbar_font-size: 1.3rem;


// ======================================
//  slice footertop-1
// ======================================

$footertop1_background-color: #129dc0;


// ======================================
//  slice footertop-2
// ======================================

$footertop2_background-color: #129dc0er;
$footertop2_font-color: $grey-light;
$footertop2_font-color-link: $grey-light;

$footertop2_search_button-background-color: #129dc0;
$footertop2_search_button-background-color--hover: lighten(#129dc0, 20%);
$footertop2_search_button-color: #fff;
*/

// ======================================
//  system
// ======================================


$system_sitebutton_border-color: #129dc0;
$system_sitebutton_color: #129dc0;

//  system - statusbar
// ======================================

$system_statusbar_link_border-color: #f5f5f5;
$system_statusbar_link_color: #f5f5f5;

$system_statusbar_loginbox_border-color: #129dc0;


//  system - calendar
// ======================================

$system_calendar_day_header-color: #129dc0;
$system_calendar_day_header-border-color: #43525a;
$system_calendar_day_header-background-color: #f6f6f6;
$system_calendar_day_wrapper_today-background-color: #fff;
$system_calendar_calendar_day_today-background-color: #fff;
$system_calendar_event_all_day-background-color: #fff;
$system_calendar_other_month-background-color: #fff;


$system_profile-background-color: #eef7fb;

$system_tabSelected-background-color: #eef7fb;
$system_tabSelected-border-color: #eef7fb;
$system_tabLeft-color: #fff;
$system_tabLeft-border-color: #fff;
$system_tabRight-color: #fff;
$system_tabRight-border-color: #fff;
$system_tabLink-color: #0cc;
$system_tabLink-background-color: #f7fbfd;
$system_tabLink-color--hover: #0CC;
$system_tabLink-background-color--hover: #e3f1f8;

$system_shadedBox-background-color: #eef7fb;

$system_my_area_navigation-background-color: #999;

//  system - forums
// ======================================

$system_griditem-background-color: #eef7fb;
$system_comment_form_button-background-color: transparent;
$system_comment_form_button-border-color: #d1d2d4;
$system_comment_form_button-color: #129dc0;
$system_comment_form_button-background-color--hover: #5ac5c5;
$system_comment_form_button-border-color--hover: #5ac5c5;
$system_comment_form_button-color--hover: #fff;

//  system - media
// ======================================

$system_media_recording_title-color: #129dc0;

//  system - rotas
// ======================================

$system_subMenu-color: #fff;
$system_subMenu-border-color: #0cc;
$system_subMenu-background-color: #0cc;

//  system - address
// ======================================
$system_address_column-border-color: #fff;
$system_address_user_details_cell-border-color: #fff;
$system_address_address_user_first_name-background-color: #f6f6f6;
$system_address_address_family_title-background-color: #f6f6f6;


//  system - popup windows
// ======================================
$system_calendar_popup_window-color: #129dc0;
$system_calendar_popup_window-background-color: #fff;
$system_calendar_popup_window-title-background-color: #fff;
$system_calendar_popup_window-table-background-color: #fff;
$system_calendar_day_header-border-color: #43525a;




