// ======================================
// slice footertop1
// ======================================


// slice footertop1 layout
// ======================================


.footer-column-1 {
  @include span(12);

  @include  susy-breakpoint($breakpoint-sm) {
    @include span(5);
  }
}

.footer-column-2 {
  @include span(12);

  @include  susy-breakpoint($breakpoint-sm) {
      @include span(4);
  }

}

.footer-column-3 {
  @include span(12);

  @include  susy-breakpoint($breakpoint-sm) {
    @include span(3);
  }

}




// slice footertop1 styles
// ======================================

.slice_footertop1 {
  color: $footertop1_font-color;
  font-size: $footertop1_font-size;
  line-height: $footertop1_line-height;
  background-color: $footertop1_background-color;
  text-align: center;
  padding: 45px 20px 20px;

  .footer-column {

    a {
      color: #fff;
      &:hover {
        opacity: 0.8;
        color: #fff;
      }
    }



    &.footer-column-1 {
      margin-bottom: 8px;

      @include susy-breakpoint($breakpoint-sm) {
        text-align: left;
      }
    }

    &.footer-column-2 {
      margin-bottom: 8px;

      @include susy-breakpoint($breakpoint-sm) {
        text-align: left;
      }
    }

    &.footer-column-3 {

      padding-top: 20px;

      a {
        display: inline-block;
        margin-right: 10px;
        margin-top: 7px;
        margin-bottom: 15px;
        transition: all 500ms ease;

        i::before {
          font-size: $footertop1_icon_font-size;
          color: $footertop1_icon_color;
          padding:8px;
          border-radius: 3px;
        }

        i.revelation-icon-facebook::before {
          color: $footertop1_icon_facebook_color;
          background-color: $footertop1_icon_facebook_background-color;
          border: 2px solid $footertop1_icon_facebook_border-color;
        }

        i.revelation-icon-twitter::before {
          color: $footertop1_icon_twitter_color;
          background-color: $footertop1_icon_twitter_background-color;
          border: 2px solid $footertop1_icon_twitter_border-color;
        }

        i.revelation-icon-vimeo::before {
          color: $footertop1_icon_vimeo_color;
          background-color: $footertop1_icon_vimeo_background-color;
          border: 2px solid $footertop1_icon_vimeo_border-color;
        }

        &:hover {
          opacity: 1;
          i::before {
            background-color: $footertop1_icon_facebook_background-color--hover;
          }
        }
      }

      .ArticleBody {
        @include susy-breakpoint($breakpoint-sm) {
          float: left;
        }
      }

      @include susy-breakpoint($breakpoint-sm) {
        padding-top: 0;
      }

    }
  }

  @include susy-breakpoint($breakpoint-sm) {
    font-size: $footertop1_font-size * 1.1;
    line-height: $footertop1_line-height * 1.1;
  }

  @include susy-breakpoint($breakpoint-md) {
    padding-left: 0;
    padding-right: 0;
  }

}
