// ======================================
// slice  2 blocks
// ======================================

// slice  2 blocks layout
// ======================================
.slice_blocks2 {

  .block2-1, .block2-2, .mapButton {
    @include span(12);
  }

  .block2-1 {
    @include susy-breakpoint($breakpoint-sm) {
      @include span(6);
    }
  }
  .block2-2 {
    @include susy-breakpoint($breakpoint-sm) {
      @include span(6);
    }
  }

}

// slice  2 blocks style
// ======================================

.slice_blocks2 {

  background-color: $block2-background-color;

  .block2-1, .block2-2 {
    padding: 15px;
    color: $block2_color;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;


    span {
      color: $block2_title-color;
      font-weight: 700;
      display: block;
    }

    @include susy-breakpoint ($breakpoint-sm) {
      text-align: left;
      font-size: 1.6rem;
      line-height: 2rem;
      padding-left: 85px;
    }
    @include susy-breakpoint ($breakpoint-md) {
      text-align: left;
      font-size: 1.8rem;
      line-height: 2.2rem;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  .block2-1 {
    border-bottom: 1px solid $block2_border-color;
    position: relative;
    
    @include susy-breakpoint( $breakpoint-sm) {
      border-bottom: none;
      background-image: url(../images/border-line.png);
      background-position: right;
      background-repeat: no-repeat;

      &:after {
        content: "\e906";
        font-family: journey;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 30px;
        color: $block2_icon_color;
        top: 23px;
        left: 40px;
        z-index: 1;
      }
    }

    @include susy-breakpoint( $breakpoint-md) {

      &:after {
        font-size: 40px;
        top: 35px;
        left: 30px;
      }
    }


  }

  .block2-2 {
    position: relative;
    @include susy-breakpoint( $breakpoint-sm) {

      &:after {
        content: "\e905";
        font-family: journey;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 30px;
        color: $block2_icon_color;
        top: 23px;
        left: 40px;
        z-index: 1;
      }
    }

    @include susy-breakpoint( $breakpoint-md) {

      &:after {
        font-size: 40px;
        top: 35px;
        left: 30px;
      }
    }
  }

}
