// ======================================
// slice  search box
// ======================================

// slice  search box layout
// ======================================
.slice_search_box {

}

// slice  search box style
// ======================================


.slice_search_box {
  .search-overlay {
    transition: opacity 500ms;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 60px;
    right: 0;
    z-index: 999;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $search_box-background-color;

    &:target {
      visibility: visible;
      opacity: 1;
    }

    .search-form {
      margin: 0 50px 0 0;

      input.button {
        display: none;
      }

      .search-close {
        position: absolute;
        top: 30px;
        right: 10px;
        transition: all 200ms;
        font-size: 25px;
        font-weight: 400;
        text-decoration: none;
        color: #fff;

        &:hover {
          opacity: .8;
        }
      }

      .search_div {

        input.text {
          height: 50px;
          margin-bottom: 0px;
          padding-left: 20px;
          border-style: solid;
          border-width: 1px;
          border-color: $search_box_input-border-color;
          border-radius: 4px;
          background-color: $search_box_input-background-color;
          background-image: url('../images/searchbox-icon.png');
          background-position: 22px 50%;
          background-size: auto 20px;
          background-repeat: no-repeat;
          transition: background-color 500ms ease, border 500ms ease;
          font-family: $default_font-family;
          font-size: 15px;
          text-align: center;
          width: 100%;
          color: $search_box_input-color;
          outline: none;
          margin-left: 10px;

          &:hover {
            border-color: $search_box_input-border-color--hover;
            background-color: $search_box_input-background-color--hover;
            background-image: url('../images/searchbox-icon.png');
            color: $search_box_input-color--hover;
          }
        }
      }

    }

    @include susy-breakpoint($breakpoint_ti) {
      & {
        top: 70px;
      }
    }

    @include susy-breakpoint($breakpoint_md) {
      & {
        top: 114px;
      }
    }
  }
}