// ======================================
// slice slideshow full width
// ======================================

.slice_slideshow_full_width {


  .bannerSlides {
    margin-top: 0;

    .bx-wrapper {
      margin-bottom: 0;
      border: none !important;
      box-shadow: none !important;
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      left: 0 !important;
      -webkit-transform: translatez(0);
      -moz-transform: translatez(0);
      -ms-transform: translatez(0);
      -o-transform: translatez(0);
      transform: translatez(0);

      .gallery_ul {
        padding: 0;
        margin-top: 0 !important;

        .gallery_li {

          img {
            height: 100%;
            width: 100%
          }

          .caption {
            position: absolute;
            top: 12%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;

            .slideTitle {
              margin-top: 0px;
              margin-bottom: 0px;
              font-family: $banner_slideshow_slidetitle-font-family;
              color: $banner_slideshow_slidetitle-color;
              font-size: $banner_slideshow_slidetitle-font-size;
              line-height: $banner_slideshow_slidetitle-font-size + 0.5rem;
              font-weight: $bold;
              text-align: center;
            }

            .slideText {
              margin-top: 0;
              margin-bottom: 0;
              font-family: $banner_slideshow_slidetext-font-family;
              font-size: $banner_slideshow_slidetext-font-size;
              color: $banner_slideshow_slidetext-color;
              line-height: $banner_slideshow_slidetext-font-size + 0.5rem;
              font-weight: $normal;
              text-align: center;
            }

            .slideButton {
              color: $banner_slideshow-button-color;
              border: 2px solid $banner_slideshow-button-background-color;
              background-color: $banner_slideshow-button-background-color;
              font-size: $banner_slideshow-button-font-size;
              font-weight: $bold;;
              padding: 5px;
              border-radius: 4px;
              text-align: center;
              margin: 10px auto 0;
              display: block;
              width: 85px;
              -webkit-transition: all 500ms ease;
              -o-transition: all 500ms ease;
              transition: all  500ms ease;
              text-decoration: none;

              &:hover {
                opacity: 0.8;
              }
            }

            @media (min-width: $breakpoint-ti) {
              & {
                top: 15%;

                .slideTitle {
                  margin-top: 1rem;
                  margin-bottom: 1rem;
                  font-size: $banner_slideshow_slidetitle-font-size * 1.5;
                  line-height: $banner_slideshow_slidetitle-font-size + 0.5rem;
                }

                .slideText {
                  margin-bottom: 2rem;
                  font-size: $banner_slideshow_slidetext-font-size * 1.5;
                  line-height: $banner_slideshow_slidetext-font-size + 0.5rem;
                }

                .slideButton {
                  font-size: $banner_slideshow-button-font-size * 2.4;
                  padding: 10px;
                  width: 135px;

                }
              }
            }

            @media (min-width: $breakpoint-sm) {
              & {
                top: 20%;

                .slideTitle {
                  margin-top: 1rem;
                  margin-bottom: 4rem;
                  font-size: $banner_slideshow_slidetitle-font-size * 2.8;
                }

                .slideText {
                  margin-bottom: 4rem;
                  font-size: $banner_slideshow_slidetext-font-size * 2.5;
                }

                .slideButton {
                  font-size: $banner_slideshow-button-font-size * 2.4;
                  padding: 10px;
                  width: 120px;

                }
              }
            }

            @media (min-width: $breakpoint-md) {
              & {

                .slideTitle {
                  font-size: $banner_slideshow_slidetitle-font-size * 5;
                }

                .slideText {
                  margin-bottom: 6rem;
                  font-size: $banner_slideshow_slidetext-font-size * 4.3;
                  margin-top: 9rem;
                }

                .slideButton {
                  font-size: $banner_slideshow-button-font-size * 3.6;
                  padding: 18px 10px;
                  width: 160px;
                }
              }
            }

            @media (min-width: $breakpoint-lg) {

              & {
                top: 31%;
              }
            }
          }
        }
      }

      .bx-controls {
        .bx-pager {
          &.bx-default-pager {
              bottom: 10px;

            a {
              background: #f5f5f5;
              -webkit-transition: background-color 500ms ease;
              -o-transition: background-color 500ms ease;
              transition: background-color 500ms ease;

              &:hover, &.active {
                background: #4acfc7;
              }
            }
          }
        }
      }

      .bx-controls-direction a {
        width: 24px;
        height: 34px;
      }


      .bx-prev {
        left: 0;
        background: rgba(0, 0, 0, 0.3) url(../images/arrow-prev-small.png) no-repeat 7px center;

        &:hover, &:focus {
          background: #398d89 url(../images/arrow-prev-small-hover.png) no-repeat 5px center;
        }
      }

      .bx-next {
        right: 0;
        background: rgba(0, 0, 0, 0.3) url(../images/arrow-next-small.png) no-repeat 9px center;

        &:hover, &:focus {
          background: #398d89 url(../images/arrow-next-small-hover.png) no-repeat 11px center;
        }
      }



      @include susy-breakpoint($breakpoint-sm) {
        .bx-controls {
          .bx-pager {
            &.bx-default-pager {
              bottom: 20px;

              a {
                width: 19px;
                height: 19px;
                border-radius: 10px;
              }
            }
          }
        }

        .bx-controls-direction a {
          width: 55px;
          height: 90px;
        }

        .bx-prev {
          left: 0;
          background: rgba(0, 0, 0, 0.3) url(../images/arrow-prev.png) no-repeat 20px center;

          &:hover, &:focus {
            background: #398d89 url(../images/arrow-prev-hover.png) no-repeat 17px center;
          }
        }

        .bx-next {
          right: 0;
          background: rgba(0, 0, 0, 0.3) url(../images/arrow-next.png) no-repeat 24px center;

          &:hover, &:focus {
            background: #398d89 url(../images/arrow-next-hover.png) no-repeat 26px center;
          }
        }
      }

    }


  }

}

