// ======================================
// slice  buttons 3
// ======================================

// slice  buttons 3 layout
// ======================================
.slice_buttons_3 {

  a {
    @include span(12);

    @include susy-breakpoint($breakpoint-sm) {
      @include span(4);
    }
  }
}

// slice  buttons 3 style
// ======================================

.slice_buttons_3 {
  padding-top: 5px;
  padding-bottom: 0;
  margin-top: 25px;
  margin-bottom: 0;

  a {
    position: relative;
    font-size: $buttons_3_font-size;
    font-weight:$buttons_3_font-weight;
    color: $buttons_3_color;
    letter-spacing: 0.3px;
    padding: 17px 20px 15px 75px;
    display: block;
    border: none;
    margin-top: 4px;
    

    &.button1 {
      background: $buttons_3_button1_background-color;
      &:hover {
        background-color: $buttons_3_button1_background-color--hover;
      }

      &:after {
        content: "\e908";
        font-family: journey;
        position: absolute;
        font-size: $buttons_3_button1_icon_font-size;
        color: $buttons_3_button1_icon_color;
        top: 18px;
        left: 22px;
      }
    }
    &.button2 {
      background: $buttons_3_button2_background-color;
      &:hover {
        background-color: $buttons_3_button2_background-color--hover;
      }

      &:after {
        content: "\e910";
        font-family: journey;
        position: absolute;
        font-size: $buttons_3_button2_icon_font-size;
        color: $buttons_3_button2_icon_color;
        top: 18px;
        left: 22px;
      }
    }
    &.button3 {
      background: $buttons_3_button3_background-color;
      &:hover {
        background-color: $buttons_3_button3_background-color--hover;
      }

      &:after {
        content: "\e907";
        font-family: journey;
        position: absolute;
        font-size: $buttons_3_button3_icon_font-size;
        color: $buttons_3_button3_icon_color;
        top: 18px;
        left: 22px;
      }
    }

    @include susy-breakpoint($breakpoint-sm) {
      & {
        font-size: $buttons_3_font-size * 1.2;
        padding: 22px 20px 20px 75px;
      }

      &.button1 {

        &:after {
          top: 22px;
          left: 22px;
        }
      }
      &.button2 {
        padding-left: 64px;

        &:after {
          top: 22px;
          left: 22px;
        }
      }
      &.button3 {
        &:after {
          top: 22px;
          left: 22px;
        }
      }
    }
    @include susy-breakpoint($breakpoint-md) {
      & {
        font-size: $buttons_3_font-size * 1.5;
        letter-spacing:1px;
        padding: 28px 20px 30px 110px;
      }

      &.button1 {
        padding-left: 108px;

        &:after {
          font-size: $buttons_3_button1_icon_font-size + 1;
          top: 31px;
          left: 25px;
        }

      }
      &.button2 {
        padding-left: 95px;

        &:after {
          font-size: $buttons_3_button1_icon_font-size + 1;
          top: 30px;
          left: 25px;
        }
      }
      &.button3 {

        &:after {
          font-size: $buttons_3_button1_icon_font-size + 1;
          top: 29px;
          left: 25px;
        }
      }
    }
  }

  @include susy-breakpoint ($breakpoint-sm) {
    /* required when not nested in another section
    background: $buttons_3_slice-background-image;
    padding-top: 50px;
    padding-bottom: 60px;
    */
    margin-top: 50px;
    margin-bottom: 40px;

  }

  @include susy-breakpoint ($breakpoint-sm) {
    margin-top: 55px;
    margin-bottom: 40px;

  }
}

