// ======================================
//  3 image blocks
// ======================================

// 3 image blocks layout
// ======================================
.slice_image_blocks_3 {

  .gallery_ul .gallery_li {
    @include span(12 inside no-gutters);

    @include susy-breakpoint($breakpoint-sm) {
      @include span(4 of 12 inside no-gutters);
    }
  }

}

// 3 image blocks  style
// ======================================

.slice_image_blocks_3 {

  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;

  .image_blocks .gallery_ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;

    .gallery_li {

      position: relative;

      a {

        display: inline-block;
        width: 100%;
        vertical-align: middle;
        position: relative;

        &::before {
          content: ' ';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: transparent;
          transition: background .35s ease-out;
          z-index: 7;
        }

        &:hover::before {
          background-color: $image_blocks_3_background-color;
          opacity: 0.5;
          cursor: pointer;
        }

        img {
          display: block;
          -webkit-backface-visibility: hidden; // fix for moving images on hover
          width: 101%;
          overflow: hidden;
        }

        .image_block_title {
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          text-align: center;
          color: $image_blocks_3_color;
          font-size: $image_blocks_3_font-size;
          line-height: 0;
          margin-bottom: $image_blocks_3_margin-bottom;
          z-index: 9;

          @include susy-breakpoint($breakpoint-ti) {
            font-size: $image_blocks_3_font-size + 1;
          }

          @include susy-breakpoint($breakpoint-sm) {
            font-size: $image_blocks_3_font-size;
          }

          @include susy-breakpoint($breakpoint-md) {
            font-size: $image_blocks_3_font-size + 1;
          }
        }
      }

    }
  }

  @include susy-breakpoint($breakpoint-sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include susy-breakpoint($breakpoint-md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

}