// ======================================
// slice  4 blocks
// ======================================

// slice  4 blocks layout
// ======================================
.slice_blocks4 {

  .iconBlock {
    @include span(6);

    @include susy-breakpoint($breakpoint-sm) {
      @include span(3);

    }
  }
}

// slice  4 blocks style
// ======================================

.slice_blocks4 {
  @include clearfix;
  padding: 0 0 60px;
  background-color: $white;


  .blocks4 {

    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .iconBlock {

      display: flex;
      flex-direction: column;
      background-color: $white;
      margin-top: 50px;

      .iconBlockImage {
        flex: 1 0 auto;
        img {
          width: initial;
        }

      }
      .iconBlockTitle {
        flex: 1 0 auto;
        font-size: 2rem;
        line-height: 2rem + 0.4rem;
        color: #0067b0;
        padding: 18px 15px;

      }

      .iconBlockSummary {
        font-size: 1.6rem;
        line-height: 1.6rem + 0.4rem;
        color: $grey-mid;
        padding: 15px 30px 25px !important;
        flex: 1 0 auto;
      }

      .iconBlockLink a {
        font-size: 1.5rem;
        color: $purple-dark;
        padding: 14px 30px 18px;
        &:hover {
          opacity: 0.7;
        }

      }
    }

  }
}

