// ======================================
// slice  mobile logo
// ======================================

// slice  mobile logo layout
// ======================================
.slice_mobile_logo {

}

// slice  mobile logo styles
// ======================================

.slice_mobile_logo {

  position: relative;
  margin: 4px 0 0 20px;
  z-index: 201;
  width: 60px;

  .mobile-logo-dark, .mobile-logo-light {
    display: none;
  }

  .mobile-logo-display {
    display: block;
  }

  @media (min-width: $breakpoint-md) {
    & {
      display: none;
    }
  }
}