// ======================================
// slice  Bible text
// ======================================

// slice  Bible text layout
// ======================================
.slice_bible_text {
  @include span(12);

  .ArticleBody {
    @include susy-breakpoint($breakpoint-md) {
      @include span(8);
      @include push(2);
    }
  }
}

// slice  Bible text style
// ======================================

.slice_bible_text {

  color: $bible_text-color;
  font-size: $bible_text_font-size;
  line-height: $bible_text_line-height;
  text-align: center;
  padding: 7px 15px 15px;

  .bible-text-divider {
    border-top: 2px solid $bible_text_divider_color;
    width: 50%;
    height: 2px;
    margin: 10px auto;
    text-indent: -9999em;

    @include susy-breakpoint($breakpoint-ti) {
      width: 30%;
      margin-bottom: 15px;
    }
    @include susy-breakpoint($breakpoint-sm) {
      width: 25%;
      margin-top: 5px;
    }
    @include susy-breakpoint($breakpoint-md) {
      width: 22%;
    }

  }

  .bible-text {
    color: $bible_text-color;
    font-size: $bible_text_font-size;
    line-height: $bible_text_font-size + 1;
    margin-top: $bible_text_margin + 1;
    margin-bottom: $bible_text_margin;

    @include susy-breakpoint($breakpoint-ti) {
      font-size: $bible_text_font-size * 1.5;
      line-height: $bible_text_font-size + 2;
      margin-top: $bible_text_margin * 1.5;
      margin-bottom: $bible_text_margin * 1.5;
    }

    @include susy-breakpoint($breakpoint-md) {
      font-size: $bible_text_font-size * 2;
      line-height: $bible_text_font-size + 2;
      margin-top: $bible_text_margin * 6;
      margin-bottom: $bible_text_margin * 2;
    }
  }

  .bible-ref {
    color: $bible_ref-color;
    font-size: $bible_ref_font-size;
    margin-bottom: $bible_ref_margin;

    @include susy-breakpoint($breakpoint-ti) {
      font-size: $bible_ref_font-size * 1.5;
      line-height: $bible_ref_font-size + 1rem;
      margin-top: $bible_ref_margin * 1.5;
    }

    @include susy-breakpoint($breakpoint-sm) {
      font-size: $bible_ref_font-size * 1.5;
      margin-top: $bible_ref_margin * 3.5;
    }
  }

  img {
    width: 50%;

    @include susy-breakpoint ($breakpoint-ti) {
      width:auto;
    }
  }

  @include susy-breakpoint ($breakpoint-sm) {
      padding-top: 20px;
    }

  @include susy-breakpoint ($breakpoint-md) {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
