// ======================================
// slice slideshow full width
// ======================================

.slice_slideshow_full_width {

  .bannerSlides {
    margin-top: 0;

    .bx-wrapper {
      margin-bottom: 0;
    }
  }

  .bannerSlides .gallery_ul {
    display: none;
  }
  .bannerSlides .gallery_li img {
    height: 100%;
    width: 100%
  }

  .bx-wrapper {
    border: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    left: 0 !important;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
  }

  .bannerSlides .gallery_ul {
    padding: 0;
  }

  .bx-controls.bx-has-pager {
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50px;
    display: none;
  }

  .bx-wrapper .bx-pager.bx-default-pager a {
    background: $banner_slideshow_pager-background-color;
    -webkit-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    width: $banner_slideshow_pager-width-height;
    height: $banner_slideshow_pager-width-height;
    -moz-border-radius: $banner_slideshow_pager-width-height / 2;
    -webkit-border-radius: $banner_slideshow_pager-width-height / 2;
    border-radius: $banner_slideshow_pager-width-height / 2;
  }

  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: $purple-dark;
  }
  .caption {
    position: absolute;
    top: 30%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }


  .caption .divider {
    border-top: 4px solid #d9cdc7;
    opacity: 0.6;
    margin: 15px auto;
    max-width: 300px;
    text-align: center;
    display: none;
  }

  .caption .slideTitle {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: $banner_slideshow_slidetitle-font-family;
    color: white;
    font-size: 3rem;
    line-height: 3rem + 0.5rem;
    font-weight: $bold;
    // text-shadow: rgba(0, 0, 0, 0.49) 0px 0px 6px;
    text-align: center;
  }
  .caption .slideText {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $banner_slideshow_slidetitle-font-family;
    font-size: 2rem;
    color: $white;
    line-height: 2rem + 0.5rem;
    font-weight: $bold;
    text-align: center;
    display: none;
  }
  .caption .slideButton {
    color: $white;
    border: 2px solid $white;
    background-color: transparent;
    display: none;
    font-family: $banner_slideshow_slidetitle-font-family;
    font-size: 15px;
    padding: 10px 16px;
    border-radius: 3px;
    text-align: center;
    width: 150px;
    margin: 0 auto;
    -webkit-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
    -o-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
    transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
    text-decoration: none;
  }
  .caption .slideButton:hover {
    background-color: $white;
    color: $blue-light;
  }

  @media (min-width: 480px) {
    .caption {
      top: 8%;

    }
    .caption .divider {
      display: block;
    }

    .caption .slideTitle {
      font-size: 4rem;
      line-height: 4rem + 0.5rem;
    }
    .caption .slideText {
      display: block;
    }

  }

  @media (min-width: $breakpoint-sm) {
    .caption {
      top: 8%;

    }
    .caption .slideTitle {
      font-size: 5rem;
      line-height: 5rem + 0.5rem;
    }
    .caption .slideButton {
      display: block;
    }

    .bx-controls.bx-has-pager {
      display: block;
    }
  }

  @media (min-width: $breakpoint-md) {
    .caption {
      top: 12%;

    }
    .caption .slideTitle {
      font-size: 7rem;
      line-height: 7rem + 0.5rem;
    }


  }
}

