// ======================================
// slice  header
// ======================================


// slice  header layout
// ======================================


.siteLogoName {
  @include span(12);

  @include susy-breakpoint($breakpoint-md) {
    @include span(3);
  }


}

.navbar {
  @include span(12);

  @include susy-breakpoint($breakpoint-md) {
    @include span(9)
  }
}


// slice  header styles
// ======================================


.slice_header {

  .siteLogoName {
    text-align: center;
    height: $site_logo_name-height;
    margin-top: $site_logo-margin-top;
    margin-bottom: $site_logo-margin-bottom;
  }

  .siteLogoName a {
    text-decoration: none;
  }

  .siteLogo img {
    max-width: $site_logo-max-width;
  }

  .siteLogoName .siteName a {
    font-size: $site_logo-font-size;
    color: $site_logo-color;
    margin-bottom: $site_name-margin-bottom;
    vertical-align: middle;
  }

  .navbar {
    display: none;
  }

  nav {
    background-color: $nav_background-color;
    height: 44px;
  }

  nav a {
    color: $nav_link-color;
    font-size: $nav_link-font-size;
    font-weight: $nav_link-font-weight;
    display: block;
    -webkit-transition: background-color 400ms ease;
    -moz-transition: background-color 400ms ease;
    -ms-transition: background-color 400ms ease;
    -o-transition: background-color 400ms ease;
    transition: background-color 400ms ease;
    text-decoration: none;
    text-transform: uppercase;
  }

  nav ul {
    list-style-type: none;
  }

  .root_menu {

    ul {
      display: none;
    }

    li {
      position: relative;

      &:hover > ul {
        display: block;
      }
    }

    > li {
      float: left;
      position: relative;
      margin-top: $nav_link_top-margin-top;

      > a {
        padding: 9px 20px;
      }


      ul {
        position: absolute;
        top: 100%;
        left: 0;
        background: $nav_dropdown-background-color;
        min-width: 210px;
        padding: 7px 0;
        z-index: 999;

        a {
          color: $nav_dropdown_link-color;
          font-size: $nav_dropdown_link-font-size;
          font-weight: $nav_link-font-weight;
          padding: 3px 23px;
        }

        ul {
          top: -7px;
          left: 100%;
        }

        li.has_sub_menu:before {
          content: ">";
          position: absolute;
          right: 8px;
          top: 0;
          line-height: 30px;
          height: 30px;
        }



      }


      &:hover > a {
        background-color: $nav_link-background-color--hover;
        color: $nav_link-color--hover;
      }

      li:hover > a {
        color: $nav_dropdown_link-color--hover;
      }




    }

  }

  #mobile_menu {
    display: none
  }


  /* ==========================================================================
     Slicknav
     ========================================================================== */

  // core

  .slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer;
    .slicknav_icon-bar + .slicknav_icon-bar {
      margin-top: 0.188em;
    }
  }
  .slicknav_menu {
    *zoom: 1;
    .slicknav_menutxt {
      display: block;
      line-height: $default_font-size + 0.5rem;
      float: left;
    }
    .slicknav_icon {
      float: left;
      margin: 0.188em 0 0 0.438em;
    }
    .slicknav_no-text {
      margin: 0;
    }
    .slicknav_icon-bar {
      display: block;
      width: 1.125em;
      height: 0.125em;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    }
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
  .slicknav_nav {
    clear: both;
    ul {
      display: block;
    }
    li {
      display: block;
    }
    .slicknav_arrow {
      font-size: 0.8em;
      margin: 0 0 0 0.4em;
      float: right;
      font-family: arial;
    }
    .slicknav_item {
      cursor: pointer;
      a {
        display: inline;
      }
    }
    .slicknav_row {
      display: block;
    }
    a {
      display: block;
    }
    .slicknav_parent-link a {
      display: inline;
    }
  }
  .slicknav_brand {
    float: left;
  }

  // theme

  .slicknav_menu {
    font-size: 16px;
    box-sizing: border-box;
    background: $slicknav-background-color;
    padding: 5px 0;
    * {
      box-sizing: border-box;
    }
    .slicknav_menutxt {
      color: $slicknav-color;
      font-weight: normal;
      text-shadow: none;
      background: $slicknav-background-color;
    }
    .slicknav_icon-bar {
      background-color: $slicknav-color;
    }
  }
  .slicknav_btn {
    margin: 0;
    text-decoration: none;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: $slicknav_button-background-color;
  }
  .slicknav_btn.slicknav_open {
    background-color: $slicknav_button-background-color--open;
  }

  .slicknav_nav {
    color: $slicknav-color;
    margin: 0;
    padding: 8px 12px;
    font-size: $slicknav-font-size;
    list-style: none;
    overflow: hidden;
    background-color: $slicknav-background--open;
    ul {
      list-style: none;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }
    .slicknav_row {
      padding: 8px 10px;
      margin: 0;
      background: $slicknav-background-color;
      &:hover {
        background: $slicknav-background-color;
        color: $slicknav-color;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;
      }
    }

    a {
      padding: 5px 10px;
      margin: 2px 0px;
      text-decoration: none;
      color: $slicknav-color;
      &:hover {
        background: $slicknav-background-color--hover;
        color: $slicknav-color--hover;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;
      }
    }
    .slicknav_txtnode {
      margin-left: 15px;
    }
    .slicknav_item a {
      padding: 0;
      margin: 0;
    }
    .slicknav_parent-link a {
      padding: 0;
      margin: 0;
    }
  }
  .slicknav_brand {
    color: $slicknav-color;
    font-size: 18px;
    line-height: 30px;
    padding: 7px 12px;
    height: 44px;
  }

  .slicknav_open > a {
    background: $slicknav-background--open;
    color: $slicknav-color--open;
  }

  .slicknav_open > a a, .slicknav_open > a > a {
    color: $slicknav-color--open !important;
  }

  .slicknav_open > ul {
    background: $slicknav_sub_menu-background-color;
    // padding-left: 12px;

    li a {
      padding-left: 12px;
    }
  }

  .slicknav_btn.slicknav_open .slicknav_icon:before {
    content: 'X';
    color: $slicknav-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    text-indent: 0px;
    width: 12px;
    height: 12px;
    display: block;
    margin: 0 3px;

  }

  .slicknav_btn.slicknav_open .slicknav_icon .slicknav_icon-bar {
    display: none;
  }


  .slicknav_nav  ul .slicknav_parent.slicknav_collapsed > .slicknav_row {
    background-color: $slicknav-background-parent--collapsed;
  }
  .slicknav_nav  ul .slicknav_parent.slicknav_open > .slciknav_row {
    background-color: $slicknav-background-parent--open;
  }

  @media only screen and (min-width: $breakpoint-sm) {
    .navbar {
      display: block;
      margin-bottom: 20px;
      margin-top: 0;
    }
    .siteLogo img {
      max-width: $site_logo-max-width * 1.2;
    }
    .siteLogoName .siteName a {
      font-size: $site_logo-font-size * 1.4;
    }
    .siteLogoName {
      text-align: center;
    }
    #mobile_nav {
      display: none;
    }
  }

  @media only screen and (min-width: $breakpoint-sm) {

    .siteLogoName {
      margin-top: $site_logo-margin-top + 15px;
    }

    nav a {
      font-size: $nav_link-font-size;
    }

    .root_menu {
      padding-left: 0;
      margin: 0 auto;

      & > li > a {
        padding: 9px 10px;
      }
    }
  }

  @media only screen and (min-width: $breakpoint-md) {


    .navbar {
      margin-top: 32px;

      a {
        font-size: $nav_link-font-size + 0.2rem;
      }
    }

    .root_menu > li ul a {
      font-size: $nav_dropdown_link-font-size;
    }

  }
}