// ======================================
// slice footertop
// ======================================


// slice footertop layout
// ======================================

.footer-social-icons {
  @include span(12);
}

.footer-column {
  @include span(12);
}


@include susy-breakpoint($breakpoint-sm) {

  .contact-column {
    @include span(12);
  }

  .login-column {
    @include span(6);
  }

  .search-column {
    @include span(6);
  }

}

@include susy-breakpoint($breakpoint-md) {

  .contact-column {
    @include span(4);
  }

  .login-column {
    @include span(4);
    @include prefix(1);
  }

  .search-column {
    @include span(4);
  }

}


// slice footertop-1 styles
// ======================================

.footertop1 {
  background-color: $footertop1_background-color;
}

.greeting_div {
  display: none;
}

.search_title {
  display: none;
}

.footer-social-icons {
  text-align: center;
  height: 76px;

  .icon-social {
    line-height: 65px;
    display: inline-block;

    img {
      vertical-align: middle;
      display: inline-block;
    }

    &:nth-child(2) {
      margin: 0 10%;
    }

    &:hover {
      opacity: 0.7;
    }
  }

}


// slice footertop-2 styles
// ======================================

.footertop2 {
  color: $footertop2_font-color;
  background-color: $footertop2_background-color;

  a {
    color: $footertop2_font-color-link;
  }

  .container {
    padding-top: 32px;
    padding-bottom: 37px;
    border-bottom: 1px solid $grey-border;

    .footer-column {
      padding-top: 20px;

      &.contact-column {
        line-height: 25px;
        text-align: center;

        @include susy-breakpoint($breakpoint-md){

          text-align: left;

        }
      }

      &.search-column {
        text-align: center;

        > div {
          margin:0 auto;
          width: 242px;

          @include susy-breakpoint($breakpoint-sm){
            width: 270px;
          }

          @include susy-breakpoint($breakpoint-md) {
            float: right;
          }
        }

        .search_title {
          display: none
        }

        .search_div {

          @include susy-breakpoint($breakpoint-sm) {

            margin-left: 30px;
          }

          @include susy-breakpoint($breakpoint-md) {

            margin-left: 35px;
          }
          margin-left: 0;

          input {
            display: inline-block;
            width: 180px;
            height: 45px;
            float: left;
            border: 2px solid #fff;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            font-size: 16px;
            padding: 8px 12px;
            color: #a0a0a0;
            -webkit-appearance: none;
          }

          input:focus {
            border-color: #31a7de;
            color: #000;
            outline: none
          }
        }

        input.button {
          width: 50px;
          height: 45px;
          line-height: 45px;
          padding: 0;
          float: left;
          margin: 0;
          border: none;
          border-radius: 0 4px 4px 0;
          background-color: $footertop2_search_button-background-color;
          color: $footertop2_search_button-color;
          font-size: 16px;
          text-transform: uppercase;
        }

        input.button:hover {
          background-color: $footertop2_search_button-background-color--hover;
          border: none
        }

        input.button:focus {
          outline: none
        }

      }

    }

  }
}