// ======================================
// slice  map full width
// ======================================

// slice  map full width layout
// ======================================



// slice  map full width style
// ======================================

.slice_map_full_width {
  > div > div {
    height: 230px !important;
    pointer-events: none;

    @include susy-breakpoint($breakpoint-ti) {
      & {
        height: 270px !important;
      }
    }

    @include susy-breakpoint($breakpoint-sm) {
      & {
        height: 350px !important;
      }
    }

    @include susy-breakpoint($breakpoint-md) {
      & {
        height: 450px !important;
      }
    }
  }
}