// ======================================
// system statusbar
// ======================================

.greeting_div {
  display: none;
}

.login-column {

  .statusbar {

    margin: 0 auto;
    width: 225px;

    a {
      display: inline-block;
      height: 45px;
      margin-right: 5px;
      padding-top: 15px;
      padding-right: 17px;
      padding-left: 17px;
      border: 2px solid $system_statusbar_link_border-color;
      border-radius: 2px;
      background-color: transparent;
      font-size: 1.6rem;
      color: $system_statusbar_link_color;
      text-align: center;
      text-decoration: none;

      @include susy-breakpoint($breakpoint-sm) {
        & {
          padding-top: 8px;
        }
      }

      &:hover {
        border-color: lighten($system_statusbar_link_border-color, 10);
      }
    }
  }
}


// system statusbar - popup login box
// ======================================

// ======================================
// slice login box
// ======================================

#DivLoginBox {
  margin-left: -8px;
  margin-top: -50px;
  background-color: #FFF;
  position: fixed !important;
  border-style: outset !important;
  border-width: 2px !important;
  border-color: rgba(69, 95, 107, 0.2) !important;
  box-shadow: 0 0 20px 0 rgba(000, 000, 000, 0.1);
  font-size: 1.6rem;
  line-height: 2.0rem;

  @media (max-width: $breakpoint_ti) {

    top: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    left: 0px !important;
    z-index: 10000 !important;
    height: 100% !important;

    div {
      width: 300px;
      margin: auto;
    }
  }


  @include susy-breakpoint($breakpoint_ti){

    height: 290px !important

  }

  @include susy-breakpoint($breakpoint-md){

    margin-left: 0;
    margin-top: 0

  }

  .shadedbox .gridheader {
    font-size: 2rem;
    font-weight: 700;
    height: 50px
  }

  .shadedbox td {
    padding: 2px 0
  }

  .shadedbox td label {
    font-size: 1.3rem;
    font-weight: 400
  }

  .shadedbox td a {
    text-decoration: none;
    color: $default_link_color;
  }

  .shadedbox td a:hover {
    color: $default_link_color--hover;
  }

  .shadedbox td img {
    display: none
  }

  .shadedbox td .button {
    font-size: 1.6rem;
    width: 100px !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
    display: inline-block;
    height: 45px;
    margin-top: 10px;
    margin-right: 5px;
    padding: 8px 17px 11px;
    border-radius: 2px;
    transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid $default_button-background-color;
    background-color: $default_button-background-color;
    color: $default_button-color;
  }

  .shadedbox td .button:hover,  .button:hover  {
    background-color: lighten($default_button-background-color, 10);
    border: 2px solid lighten($default_button-background-color, 10);
    color: $default_button-color;
  }

  .shadedbox td .button:focus {
    outline: none;
  }
}


