<!doctype html>
<html class="no-js">
<head>
    @@include('slice_head.html')
</head>
<body>
@@include('slice_fixed_icons.html')
@@include('slice_search_box.html')
@@include('slice_mobile_menu_content.html')
<header>
    @@include('slice_header.html')
</header>
<div class="banner-section-wrapper">
    @@include('slice_content_banner.html')
</div>

<section class="slice_content_page">
    <div class="container">
        @@include('slice_content.html')
        @@include('slice_sidebar.html')
    </div>
</section>

<footer>
    @@include('slice_footer.html')
</footer>
@@include('slice_footerbar.html')
</body>
</html>


