<!doctype html>
<html class="no-js">
<head>
    @@include('slice_head.html')
</head>
<body>
@@include('slice_mobile_menu.html')
@@include('slice_full_width_video.html')
<header>
    @@include('slice_header.html')
</header>
@@include('slice_bible_text_matt419.html')
@@include('slice_block1.html')
@@include('slice_bible_text_lk137.html')
@@include('slice_blocks2.html')
@@include('slice_bible_text_ps4610.html')
<footer>
    @@include('slice_footer.html')
</footer>
@@include('slice_footerbar.html')
</body>
</html>


