
.slice_blocks2 .block2-1, .slice_blocks2 .block2-2, .slice_blocks2 .mapButton {
    width: 97.42268%;
    float: left;
    margin-left: 1.28866%;
    margin-right: 1.28866%;
}

@media (min-width: 768px) {
    .slice_blocks2 .block2-1 {
        width: 47.42268%;
        float: left;
        margin-left: 1.28866%;
        margin-right: 1.28866%;
    }
}

@media (min-width: 768px) {
    .slice_blocks2 .block2-2 {
        width: 47.42268%;
        float: left;
        margin-left: 1.28866%;
        margin-right: 1.28866%;
    }
}

.slice_blocks2 {
    background-color: #f5f5f5;
}

.slice_blocks2 .block2-1, .slice_blocks2 .block2-2 {
    padding: 15px;
    color: #2d4048;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
}

.slice_blocks2 .block2-1 span, .slice_blocks2 .block2-2 span {
    color: #2d4048;
    font-weight: 700;
    display: block;
}

@media (min-width: 768px) {
    .slice_blocks2 .block2-1, .slice_blocks2 .block2-2 {
        text-align: left;
        font-size: 1.6rem;
        line-height: 2rem;
        padding-left: 85px;
    }
}

@media (min-width: 992px) {
    .slice_blocks2 .block2-1, .slice_blocks2 .block2-2 {
        text-align: left;
        font-size: 1.8rem;
        line-height: 2.2rem;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.slice_blocks2 .block2-1 {
    border-bottom: 1px solid #e1e1e1;
    position: relative;
}

@media (min-width: 768px) {
    .slice_blocks2 .block2-1 {
        border-bottom: none;
        background-image: url(../images/border-line.png);
        background-position: right;
        background-repeat: no-repeat;
    }

    .slice_blocks2 .block2-1:after {
        content: "\e906";
        font-family: journey;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 30px;
        color: #4acfc7;
        top: 23px;
        left: 40px;
        z-index: 1;
    }
}

@media (min-width: 992px) {
    .slice_blocks2 .block2-1:after {
        font-size: 40px;
        top: 35px;
        left: 30px;
    }
}

.slice_blocks2 .block2-2 {
    position: relative;
}

@media (min-width: 768px) {
    .slice_blocks2 .block2-2:after {
        content: "\e905";
        font-family: journey;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 30px;
        color: #4acfc7;
        top: 23px;
        left: 40px;
        z-index: 1;
    }
}

@media (min-width: 992px) {
    .slice_blocks2 .block2-2:after {
        font-size: 40px;
        top: 35px;
        left: 30px;
    }
}
