
.slice_block1_image {
    background-image: url(../images/children.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: scroll;
    color: #fff;
    text-align: center;
    padding: 40px 15px;
}

.slice_block1_image .title1 {
    color: #fff;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

@media (min-width: 467px) {
    .slice_block1_image .title1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 768px) {
    .slice_block1_image .title1 {
        font-size: 5rem;
        margin-bottom: 4rem;
    }
}

@media (min-width: 992px) {
    .slice_block1_image .title1 {
        font-size: 6.25rem;
        margin-bottom: 6rem;
    }
}

.slice_block1_image .title2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

@media (min-width: 467px) {
    .slice_block1_image .title2 {
        font-size: 1.65rem;
        margin-bottom: 3rem;
    }
}

@media (min-width: 768px) {
    .slice_block1_image .title2 {
        font-size: 3rem;
        margin-bottom: 4rem;
    }
}

.slice_block1_image .title3 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

@media (min-width: 467px) {
    .slice_block1_image .title3 {
        font-size: 1.61rem;
        margin-bottom: 0.75rem;
    }
}

@media (min-width: 992px) {
    .slice_block1_image .title3 {
        font-size: 2.24rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}

.slice_block1_image a {
    display: block;
    border: 2px solid #9fb9c4;
    color: #fff;
    padding: 10px 15px;
    font-size: 1.3rem;
    max-width: 125px;
    margin: 15px auto 0;
    border-radius: 4px;
}

.slice_block1_image a:hover {
    background-color: #2d9ebd;
    border-color: #2d9ebd;
    color: #fff;
}

@media (min-width: 768px) {
    .slice_block1_image a {
        font-size: 1.8rem;
        max-width: 160px;
        margin-top: 40px;
    }
}

@media (min-width: 768px) {
    .slice_block1_image {
        padding-top: 60px;
        padding-bottom: 60px;
        background-attachment: fixed;
    }
}

@media (min-width: 992px) {
    .slice_block1_image {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
