
.slice_map_full_width > div > div {
    height: 230px !important;
    pointer-events: none;
}

@media (min-width: 467px) {
    .slice_map_full_width > div > div {
        height: 270px !important;
        pointer-events: none;
    }
}

@media (min-width: 768px) {
    .slice_map_full_width > div > div {
        height: 350px !important;
    }
}

@media (min-width: 992px) {
    .slice_map_full_width > div > div {
        height: 450px !important;
    }
}
