<section class="slice_block1_image2 whats-on">
    <div class="container">
        <div class="ArticleBody">
            <div class="title1">What's On</div>
            <div class="title2">We run lots of courses that will help you to grow in your faith and provide valuable input into your life as well as putting on events with the aim of having fun together and blessing those in our local community.
                You can take a look at the full Church Calendar for more information on all that's going on.</div>
            <a class="button" href="#">FIND OUT MORE</a>
        </div>

    </div>

</section>