<section class="slice_blocks2">
    <div class="container">
        <div class="block2-1">
            <div class="ArticleBody">
                <span>Service Times</span> We meet every Sunday at 10:00am and 6:00pm<br/>
                Come and  join us
            </div>
        </div>
        <div class="block2-2">
            <div class="ArticleBody">
                <span>Location</span> Journey Template, ChurchInsight, Musgrave Farm,<br/>Horningsea Road, Cambridge, CB5 8SZ
            </div>
        </div>
    </div>
</section>