<div class="main-content">
    <div class="ArticleBody">
        <div id="_ctl0__ctl0_cphBody__ctl3_elFormContents"><h1>
            <span>Style Guide&nbsp;</span></h1>

            <p>
                We can use this site to check if the template has everything styled nicely...</p>

            <h1>
                Heading 1</h1>

            <h1>
                Heading 1</h1>

            <h1>
                Heading 1</h1>

            <h2>
                Heading 2</h2>

            <h2>
                Heading 2</h2>

            <h2>
                Heading 2</h2>

            <h3>
                Heading 3</h3>

            <h3>
                Heading 3</h3>

            <h3>
                Heading 3</h3>

            <h4>
                Heading 4</h4>

            <h4>
                Heading 4</h4>

            <h4>
                Heading 4</h4>

            <h5>
                Heading 5</h5>

            <h5>
                Heading 5</h5>

            <h5>
                Heading 5</h5>

            <h5>
                Heading 5</h5>

            <h6>
                Heading 6</h6>

            <h6>
                Heading 6</h6>

            <h6>
                Heading 6</h6>
            <br>
            <br>
            This paragraph is <strong>normal/left</strong> justified.

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>

            <p>
                Blockquote:</p>

            <blockquote>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </blockquote>
            <br>
            This paragraph is <strong>right</strong> justified.

            <p style="text-align: right;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
            <br>
            <br>
            This paragraph is <strong>centre</strong> justified.

            <p style="text-align: center;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>

            <p>
                <br>
                This is a <a href="#">link</a><br>
                <strong>This is bold text</strong><br>
                <em>This is italic text<br>
                    <strong>This is bold and italic text</strong></em><br>
                <u>This is underlined text</u><br>
                This has subscript and superscript formatting applied - O<sub>2</sub> and 30<sup>o</sup>C<br>
                <br>
                This text is not indented at all!</p>

            <p style="margin-left: 40px;">
                This text is indented by one</p>

            <p style="margin-left: 80px;">
                This text is indented by two</p>

            <p style="margin-left: 120px;">
                This text is indented by three</p>

            <p style="margin-left: 160px;">
                This text is indented by four</p>

            <p>
                &nbsp;</p>

            <p>
                Unordered List using paragraph text</p>

            <ul>
                <li>
                    Bullet 1
                </li>
                <li>
                    Bullet2
                </li>
                <li>
                    Bullet3
                </li>
                <li>
                    <a href="#">Bullet Link</a></li>
            </ul>

            <p>
                <br>
                Ordered List using paragraph text</p>

            <ol>
                <li>
                    Bullet 1
                </li>
                <li>
                    Bullet2
                </li>
                <li>
                    Bullet3
                </li>
                <li>
                    <a href="#">Bullet Link</a></li>
            </ol>

            <p>
                <br>
                There is a horizontal line below...</p>

            <hr>
            <p>
                <br>
                <br>
                Form:</p>

            <div>
                <label for="yourName">Your Name:</label> <input class="form-control" id="yourName" lang="1"
                                                                placeholder="Enter your Name" type="text"></div>

            <div>
                <br>
                <label for="yourEmailAddress">Your email address:</label> <input class="form-control"
                                                                                 id="yourEmailAddress" lang="1"
                                                                                 placeholder="Enter your email address"
                                                                                 type="email"></div>

            <div>
                <br>
                <label for="yourAddress">Your address:</label><br>
                <textarea class="form-control" id="yourAddress" lang="1" placeholder="Enter your address here"
                          rows="5"></textarea></div>

            <div>
                <br>
                <label for="yourPhone">Your phone number:</label> <input class="form-control" id="yourPhoneNo" lang="1"
                                                                         placeholder="Enter your Phone number"></div>

            <div>
                <br>
                <label for="yourMessage">Your message:</label><br>
                <textarea class="form-control" id="yourMessage" lang="1" placeholder="Leave your message here"
                          rows="5"></textarea></div>

            <div>
                &nbsp;
                <div>
                    <input checked="checked" id="checkbox1" name="checkbox" type="checkbox" value="1"><label
                        for="checkbox1">Option 1</label></div>

                <div>
                    <input id="checkbox2" name="checkbox" type="checkbox" value="2"><label for="checkbox2">Option
                    2</label></div>

                <div>
                    <input id="checkbox3" name="checkbox" type="checkbox" value="3"><label for="checkbox3">Option
                    3</label></div>
            </div>

            <div>
                &nbsp;
                <div>
                    <input checked="checked" id="radio1" name="radio" type="radio" value="1"><label for="radio1">Option
                    1</label></div>

                <div>
                    <input id="radio2" name="radio" type="radio" value="2"><label for="radio2">Option 2</label></div>

                <div>
                    <input id="radio3" name="radio" type="radio" value="3"><label for="radio3">Option 3</label></div>
            </div>

            <div>
                <input class="sitebutton btn" onclick="doFormSubmission(this);" type="button" value="SEND"><br>
                &nbsp;</div>

            <p>
                Normal Table:</p>

            <table border="1" cellpadding="5" cellspacing="5" class="tableBorder" style="width: 75%;">
                <tbody>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td>
                        &nbsp;</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td>
                        &nbsp;</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td>
                        &nbsp;</td>
                </tr>
                </tbody>
            </table>
            <br>
            Article List:<br>
            <br>
            <br>
            Media List:<br>
            <br>
            <br>
            Calendar List:<br>
            <br>
            <br>
            <style type="text/css">
                table.tableBorder {
                    border: 1px solid grey;
                }

                table.tableBorder tr {
                    border-top: 1px solid grey;
                }

                table.tableBorder tr + tr {
                    border-top: 1px solid grey;
                }

                table.tableBorder td {
                    border-left: 1px solid grey;
                }

                table.tableBorder td + td {
                    border-left: 1px solid grey;
                }</style>

            <input type="hidden" name="_ctl0__ctl0_cphBody__ctl3_FormDocumentID"
                   id="_ctl0__ctl0_cphBody__ctl3_FormDocumentID" value="486507"></div>
    </div>
</div>