<section class="slice_full_width_video">
    <div class="video-bg">
        <video poster="https://templates.churchinsight.com/Images/Content/2155/813631.jpg" muted="muted" preload="auto"
               loop="true" autoplay="true">
            <source type="video/mp4"
                    src="http://s3.amazonaws.com/media.2155.churchinsight.com/1c75c324-01d3-45c7-99ae-262428d57cba.mp4">
        </video>
        <div class="video-cast">
            &nbsp;</div>
    </div>
    <div class="container">
        <div class="video-overlay">
            <div class="ArticleBody">
                <img src="../images/logo.png"/>
                <div class="video-buttons">
                    <a class="button" href="#">CHURCH LIFE</a><a class="button" href="#">FIRST TIME GUEST</a>
                </div>
            </div>
        </div>
    </div>
</section>