<meta charset="utf-8">
<title>Journey</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<script src="js/jquery.min.V2.1.4.js"></script>
<script src="js/jquery.bxslider.min.V4.1.2.js"></script>
<script src="js/jquery.slicknav.min.V1.0.7.js"></script>
<script src="js/jquery.fitvids.V1.1.js"></script>
<script defer src="js/script.js"></script>
<link rel="stylesheet" href="css/jquery.bxslider.min.V4.2.5.css">
<link rel="stylesheet" href="css/normalize.V5.0.0.css">
<link rel="stylesheet" href="css/fonts.css">
<link rel="stylesheet" href="css/style.css">