<section class="slice_fixed_icons">
    <div class="fixed_icons">
        <div class="ArticleBody">
            <a class="fixed_icon_block login-link" href="/user/login.aspx"><i class="journey-icon-login"></i></a>
            <a class="fixed_icon_block search-link" href="#search-window"><i class="journey-icon-search"></i></a>
            <a class="fixed_icon_block twitter" href="https://twitter.com" target="_blank"><i class="revelation-icon-twitter"></i> </a>
            <a class="fixed_icon_block facebook" href="http://facebook.com" target="_blank"><i class="revelation-icon-facebook"></i>  </a>

        </div>
    </div>
</section>