<section class="slice_video">
    <div class="container">
        <h1>
            Recent Video</h1>
        <div class="video-article ">
            <div class="isolate_element">
                <div class="ArticleBody">
                    <div class="video-wrapper">
                        <iframe width="560px" height="315px" src="//www.youtube.com/embed/kXN3N3stC_8" frameborder="0"
                                webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
        <a class="video_button" href="#">View more videos</a>
    </div>
</section>