<section class="slice_search_box">
    <div class="search-block search-overlay" id="search-window">
        <div class="container">
            <div class="search-form">
                <a class="search-close" href="#">X</a>
                <div>
                    <div class="search_div"
                         onkeydown="if(event.keyCode==13){document.getElementById('_ctl0__ctl0_cphBody__ctl2_searchSiteGo').click();return false}else{return true}">
                        <input type="text" id="_ctl0__ctl0_cphBody__ctl2_searchSite" name="searchSite"
                               size="22" value="Type keyword and hit enter..."
                               onBlur="if(this.value==''){this.value='Type keyword and hit enter...';}"
                               onFocus="if(this.value=='Type keyword and hit enter...'){this.value='';}"
                               class="text"/>
                    </div>
                    <input type="button" id="_ctl0__ctl0_cphBody__ctl2_searchSiteGo" value="Go"
                           class="button"
                           onclick="doSiteSearch(this.id,'Type keyword and hit enter...',false,null,null);">

                </div>
            </div>
        </div>
    </div>
</section>