<section class="slice_block1_image block-vision">
    <div class="container">
        <div class="ArticleBody">
            <div class="title1">Our Vision</div>
            <div class="title2">The church we envisage is exciting! We see a church with hundreds of adults and children from different people groups and different walks of life. The church is bursting with life with numbers of initiatives focused on changing lives, changing our community and changing the perception of Church.</div>
            <a class="button" href="#">FIND OUT MORE</a>
        </div>

    </div>
</section>