<footer>
    <section class="slice_footertop1">
        <div class="container">

            <div class="footer-column footer-column-1">
                <div>Journey Template, ChurchInsight, Musgrave Farm, Horningsea Road, Cambridge, CB5 8SZ</div>
            </div>
            <div class="footer-column footer-column-2">
                <div>Email:&nbsp; <span><a href="mailto:hello@churchinsight.com">hello@churchinsight.com</a></span>
                </div>
                <div>Tel:&nbsp;<a class="footer-link" href="tel:+44 (0) 1223 790478">+44 (0) 1223 790478</a></div>
            </div>
            <div class="footer-column footer-column-3">
                <div class="ArticleBody">
                        <a class="footer_icon_block facebook" href="https://www.facebook.com/" target="_blank"><i class="revelation-icon-facebook"></i> </a>
                    <a class="footer_icon_block twitter" href="https://twitter.com/" target="_blank"> <i class="revelation-icon-twitter"></i> </a>
                    <a class="footer_icon_block vimeo" href="https://www.vimeo.com/" target="_blank"> <i class="revelation-icon-vimeo"></i> </a>
                </div>
            </div>
        </div>
    </section>
</footer>