<section class="slice_gallery_6">
    <div class="container">
        <h1>
            Community action
        </h1>

        <div class="info_header_text">
            We are actively involved in the local community. Below
            are the projects we run.
        </div>


        <div class="gallery_6_cards">
            <ul class="gallery_ul">

                <li class="gallery_li">
                    <a href="#" target="_self"><img src="images/gallery-6-01.jpg" alt="Foodbank*details of the community project are in this summary text" title="Foodbank*details of the community project are in this summary text"/></a>
                </li>

                <li class="gallery_li">
                    <a href="#" target="_self"><img src="images/gallery-6-03.jpg" alt="Debt Counselling*details of the community project are in this summary text" title="Debt Counselling*details of the community project are in this summary text"/></a>
                </li>

                <li class="gallery_li">
                    <a href="#" target="_self"><img src="images/gallery-6-03.jpg" alt="Soup Kitchen*details of the community project are in this summary text" title="Soup Kitchen*details of the community project are in this summary text"/></a>
                </li>

                <li class="gallery_li">
                    <a href="#" target="_self"><img src="images/gallery-6-04.jpg" alt="Furniture Project*details of the community project are in this summary text" title="Furniture Project*details of the community project are in this summary text"/></a>
                </li>

                <li class="gallery_li">
                    <a href="#" target="_self"><img src="images/gallery-6-05.jpg" alt="Night Shelter*details of the community project are in this summary text" title="Night Shelter*details of the community project are in this summary text"/></a>
                </li>

                <li class="gallery_li">
                    <a href="#" target="_self"><img src="images/gallery-6-06.jpg" alt="Youth work*details of the community project are in this summary text" title="Youth work*details of the community project are in this summary text"/></a>
                </li>



            </ul>
        </div>


        <a class="gallery_6_button" href="#">ALL PROJECTS</a>
    </div>

</section>