<section class="slice_block1_form">
    <div class="container">
        <h1>Be greeted this Sunday</h1>
        <div class="slice_block1_form_wrapper">
            <div class="container">
                <div class="form_text">
                    <div class="ArticleBody">
                        <h1>Let us show you around</h1>
                        We know that turning up to a new place can be daunting. So if you are new
                        and would like to have someone meet you and show you around on your first visit, please fill in
                        the form
                        here. We will get back to you soon and arrange for you to be greeted.
                    </div>
                </div>

                <div class="form_fields">
                    <div class="ArticleBody">
                        <div class="form_fields_line1">
                            <input class="form-control" id="yourName" lang="1"
                                   name="name" placeholder="Your Name"
                                   type="text"/></div>

                        <div class="form_fields_line2">
                            <input class="form-control"
                                   id="yourEmailAddress"
                                   lang="1" name="email"
                                   placeholder="Your Email Address"
                                   type="email"/></div>

                        <div class="form_fields_line3">
                            <textarea class="form-control"
                                      id="yourMessage" lang="1"
                                      name="message"
                                      placeholder="Your Message"
                                      rows="5"></textarea></div>

                        <div class="form_fields_line4">
                            <input class="sitebutton btn" onclick="doFormSubmission(this);" type="button" value="Send"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>