<section class="slice_image_blocks_4">
    <div class="image_blocks">
        <ul id="_ctl0__ctl0_cphBody__ctl13_gallery_ul" class="gallery_ul">

            <li class="gallery_li">
                <a href="#" target="_self"><img src="../images/news.jpg"
                                                alt="NEWS"
                                                title="NEWS">
                </a>
            </li>

            <li class="gallery_li">
                <a href="#" target="_self"><img src="../images/talks.jpg"
                                                alt="TALKS"
                                                title="TALKS">
                </a>
            </li>

            <li class="gallery_li">
                <a href="#" target="_self"><img src="../images/events.jpg"
                                                alt="EVENTS"
                                                title="EVENTS">
                </a>
            </li>

            <li class="gallery_li">
                <a href="#" target="_self"><img src="../images/talks.jpg"
                                                alt="TALKS"
                                                title="TALKS">
                </a>
            </li>

        </ul>
    </div>
</section>