<section class="slice_header">
    <div class="header-wrapper">
        <div class="nav navbar">

            <div class="nav-menu">
                <ul class="root_menu">
                    <li class="menu_item menu_item_level_1 has_sub_menu"><a class="menu_link"
                                                                            href="/Groups/242045/St_Marys_Longfleet.aspx">Home</a>
                        <ul class="sub_menu sub_menu_level_1">
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242045/St_Marys_Longfleet.aspx">Homepage</a>
                            </li>
                            <li class="menu_item menu_item_level_"><a class="menu_link"
                                                                      href="/Address/AddressBook.aspx">Address
                                Book</a></li>
                        </ul>
                    </li>
                    <li class="menu_item menu_item_level_1 has_sub_menu"><a class="menu_link"
                                                                            href="/Groups/242047/About.aspx">About</a>
                        <ul class="sub_menu sub_menu_level_1">
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242047/About.aspx">About</a>
                            </li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242074/Our_History.aspx">Our
                                History</a></li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242053/Mission_and_Vision.aspx">Mission
                                and Vision</a></li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242054/Staff_and_Leadership.aspx">Staff
                                and Leadership</a></li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242051/Contact_Us.aspx">Contact
                                Us</a></li>
                        </ul>
                    </li>
                    <li class="menu_item menu_item_level_1 has_sub_menu"><a class="menu_link"
                                                                            href="/Groups/242048/Whats_On.aspx">What&#39;s
                        On</a>
                        <ul class="sub_menu sub_menu_level_1">
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242048/Whats_On.aspx">What&#39;s
                                On</a></li>
                        </ul>
                    </li>
                    <li class="menu_item menu_item_level_1 has_sub_menu"><a class="menu_link"
                                                                            href="/Groups/242049/Connect.aspx">Connect</a>
                        <ul class="sub_menu sub_menu_level_1">
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242049/Connect.aspx">Connect</a>
                            </li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242067/Latest_News.aspx">Latest
                                News</a></li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242072/Get_Involved.aspx">Get
                                Involved!</a></li>
                            <li class="menu_item menu_item_level_2 has_sub_menu"><a class="menu_link"
                                                                                    href="/Groups/242055/Sunday_Services.aspx">Sunday
                                Services</a>
                                <ul class="sub_menu sub_menu_level_2">
                                    <li class="menu_item menu_item_level_3"><a class="menu_link"
                                                                               href="/Groups/252941/Prayer_Ministry.aspx">Prayer
                                        Ministry</a></li>
                                    <li class="menu_item menu_item_level_3"><a class="menu_link"
                                                                               href="/Groups/255303/VP.aspx">VP</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242056/Courses_and_Events.aspx">Courses
                                and Events</a></li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242057/Life_Groups.aspx">Life
                                Groups</a></li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242058/Childrens_Ministry.aspx">Children&#39;s
                                Ministry</a></li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242059/Youth.aspx">Youth</a>
                            </li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242060/Students_and_20s.aspx">Students
                                and 20s</a></li>
                        </ul>
                    </li>
                    <li class="menu_item menu_item_level_1 has_sub_menu"><a class="menu_link"
                                                                            href="/Groups/278663/REACH.aspx">REACH</a>
                        <ul class="sub_menu sub_menu_level_1">
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/278663/REACH.aspx">REACH</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu_item menu_item_level_1 has_sub_menu"><a class="menu_link"
                                                                            href="/Groups/242050/Talks.aspx">Talks</a>
                        <ul class="sub_menu sub_menu_level_1">
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242050/Talks.aspx">Talks</a>
                            </li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242070/Address_Book.aspx">Address
                                Book</a></li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242062/Church_Calendar.aspx">Church
                                Calendar </a></li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242071/Forums.aspx">Forums</a>
                            </li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242063/Online_Bible.aspx">Online
                                Bible </a></li>
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/242061/Sermons_and_Media.aspx">Sermons
                                and Media</a></li>
                        </ul>
                    </li>
                    <li class="menu_item menu_item_level_1 has_sub_menu"><a class="menu_link"
                                                                            href="/Groups/255520/Church_Centre.aspx">Church
                        Centre</a>
                        <ul class="sub_menu sub_menu_level_1">
                            <li class="menu_item menu_item_level_2"><a class="menu_link"
                                                                       href="/Groups/255520/Church_Centre.aspx">Church
                                Centre</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="logo-container">
                    <span class="logo-icon"><a id="_ctl0__ctl0_cphBody__ctl5_hlSiteLogo" href="/"><img alt=""
                                                                                                       src="../images/logo-dark.png"/></a></span>
            </div>






        </div>
    </div>

</section>
