<section class="slice_ml_3">
    <div class="container">
        <h1>
            Recent media
        </h1>

        <div class="info_header_text">
            Listen to recent sermons and media recordings
        </div>


        <div class="media_cards"  isolate_element="yes">
<span id="_ctl0__ctl0_cphBody__ctl13_mediaList" class="MediaList">

	<div id="_ctl0__ctl0_cphBody__ctl13__ctl0__ctl0__ctl0">
<div class="mediaListImage3" style="padding: 0px; height: 177px;"><a id="_ctl0__ctl0_cphBody__ctl13__ctl0__ctl0__ctl2_hlItem"
                                                                     href="javascript:playMedia(151072, 162493, 0, 'Recent Media Uploads','/Images/Content/2155/731910.jpg');"><img
        src="../images/lamb-of-god.jpg" alt=""></a>
</div><div class="mediaListTitle3" style="padding: 0px; height: 35px;"><a id="_ctl0__ctl0_cphBody__ctl13__ctl0__ctl0__ctl3_hlTitle"
                                                                          href="javascript:playMedia(151072, 162493, 0, 'Recent Media Uploads','/Images/Content/2155/731910.jpg');">Lamb of God</a>

</div><div class="mediaListDesc3" style="padding: 0px; height: 145px;"><span
            id="_ctl0__ctl0_cphBody__ctl13__ctl0__ctl0__ctl4_lblDescr">Reading from John1: The next day John saw Jesus coming toward him and said,"Look, the lamb of God, who takes away the sin of the world!"</span></div><div
            class="mediaListLink3" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">Listen Now</div></div><div
        id="_ctl0__ctl0_cphBody__ctl13__ctl0__ctl1__ctl0">
<div class="mediaListImage3" style="padding: 0px; height: 177px;"><a id="_ctl0__ctl0_cphBody__ctl13__ctl0__ctl1__ctl2_hlItem"
                                                                     href="javascript:playMedia(151073, 162494, 0, 'Recent Media Uploads','/Images/Content/2155/731911.jpg');"><img
        src="../images/jonah.jpg" alt=""></a>
</div><div class="mediaListTitle3" style="padding: 0px; height: 35px;"><a id="_ctl0__ctl0_cphBody__ctl13__ctl0__ctl1__ctl3_hlTitle"
                                                                          href="javascript:playMedia(151073, 162494, 0, 'Recent Media Uploads','/Images/Content/2155/731911.jpg');">Jonah Series</a>

</div><div class="mediaListDesc3" style="padding: 0px; height: 145px;"><span
        id="_ctl0__ctl0_cphBody__ctl13__ctl0__ctl1__ctl4_lblDescr">What do you do when God speaks and you don't quite know how to handle it?</span></div><div
        class="mediaListLink3" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">Listen Now</div></div><div
        id="_ctl0__ctl0_cphBody__ctl13__ctl0__ctl2__ctl0">
<div class="mediaListImage3" style="padding: 0px; height: 177px;"><a id="_ctl0__ctl0_cphBody__ctl13__ctl0__ctl2__ctl2_hlItem"
                                                                     href="javascript:playMedia(151074, 162495, 0, 'Recent Media Uploads','/Images/Content/2155/731912.jpg');"><img
        src="../images/ester.jpg" alt=""></a>
</div><div class="mediaListTitle3" style="padding: 0px; height: 35px;"><a id="_ctl0__ctl0_cphBody__ctl13__ctl0__ctl2__ctl3_hlTitle"
                                                                          href="javascript:playMedia(151074, 162495, 0, 'Recent Media Uploads','/Images/Content/2155/731912.jpg');">Esther Series</a>

</div><div class="mediaListDesc3" style="padding: 0px; height: 145px;"><span
        id="_ctl0__ctl0_cphBody__ctl13__ctl0__ctl2__ctl4_lblDescr">"For such a time as this." We look at some of the fears and idols that Esther had to overcome to fulfill her destiny.</span></div><div
        class="mediaListLink3" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">Listen Now</div></div>
</span>

        </div>
        <a class="media_cards_button" href="/media/allmedia.aspx">FULL MEDIA LIBRARY</a>  </div>
</section>