<section  class="slice_block1" >
    <div class="container">
        <div class="ArticleBody">
            <h1>A Church for the community</h1>
            Are you new to the church or the area? If so, you are very welcome! Please do check out our Visitor Information page to get all the information about what goes on at our church. Services start at 10am on Sunday and last for 1h 30m and there is tea, coffee and biscuits served afterwards. Please see the map below for directions.
            <a class="button" href="#">More about us</a>
        </div>
    </div>
</section>