<section class="slice_al_4">
    <div class="container">
        <h1>
            Explore Our Church
        </h1>

        <div class="info_header_text">
            Please take a look at the information below to view more about the church
        </div>
        <div class="info_cards">
            <div id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl3__ctl0">
                <div class="articleListImage4"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;"><a
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl3__ctl2_hlItem" href="/Articles/443405/When_Where.aspx"><img
                        src="../images/slice-al-4-when.jpg" alt=""></a>
                </div>
                <div class="articleListTitle4"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;"><a
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl3__ctl3_hlTitle"
                        href="/Articles/443405/When_Where.aspx">When
                    + Where&nbsp;</a>
                </div>
                <div class="articleListSummary4"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;"><span
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl3__ctl4_lblSummary">We meet at 9am and 11am every Sunday at Affinity Hall</span>
                </div>
                <div class="articleListLink4" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                <span
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl3__ctl5_lblAuthor">View on map</span></div>
            </div>

            <div id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl1__ctl0">
                <div class="articleListImage4"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;"><a
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl1__ctl2_hlItem"
                        href="/Articles/443406/Visitor_Info.aspx"><img src="../images/slice-al-4-visitor.jpg"
                                                                       alt=""></a>
                </div>
                <div class="articleListTitle4"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;"><a
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl1__ctl3_hlTitle"
                        href="/Articles/443406/Visitor_Info.aspx">Visitor
                    Info&nbsp;</a>
                </div>
                <div class="articleListSummary4"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;"><span
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl1__ctl4_lblSummary">Meetings last for 1 hours 30 minutes and refreshments are available afterwards</span>
                </div>
                <div class="articleListLink4" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                <span
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl1__ctl5_lblAuthor">More details</span></div>
            </div>
            <div id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl2__ctl0">
                <div class="articleListImage4"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;"><a
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl2__ctl2_hlItem"
                        href="/Articles/453355/Whats_On.aspx"><img
                        src="../images/slice-al-4-whats.jpg" alt=""></a>
                </div>
                <div class="articleListTitle4"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;"><a
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl2__ctl3_hlTitle" href="/Articles/453355/Whats_On.aspx">What's
                    On&nbsp;</a>
                </div>
                <div class="articleListSummary4"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;"><span
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl2__ctl4_lblSummary">View the calendar for upcoming events and church meetings throughout the week</span>
                </div>
                <div class="articleListLink4" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                <span
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl2__ctl5_lblAuthor">Calendar</span></div>
            </div>
            <div id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl0__ctl0">
                <div class="articleListImage4"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;"><a
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl0__ctl2_hlItem"
                        href="/Articles/453356/Latest_Media.aspx"><img src="../images/slice-al-4-latest.jpg" alt=""></a>
                </div>
                <div class="articleListTitle4"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;"><a
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl0__ctl3_hlTitle"
                        href="/Articles/453356/Latest_Media.aspx">Latest
                    Media&nbsp;</a>
                </div>
                <div class="articleListSummary4"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;"><span
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl0__ctl4_lblSummary">Listen online or download recent sermons and media recordings</span>
                </div>
                <div class="articleListLink4" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                <span
                        id="_ctl0__ctl0_cphBody__ctl8__ctl0__ctl0__ctl5_lblAuthor">Listen now</span></div>
            </div>
        </div>
    </div>
</section>