<section class="slice_al_3">
    <div class="container">
        <h1>
            Latest News
        </h1>

        <div class="info_header_text">
            Keeping you up-to-date with all the latest church family news.
        </div>
        <div class="article_cards3">
            <div id='_ctl0__ctl0_cphBody__ctl0__ctl0__ctl0__ctl0'>
                <div class="articleListImage"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <a href="#" id=
                            "_ctl0__ctl0_cphBody__ctl0__ctl0__ctl0__ctl2_hlItem"><img alt="" src=
                            "../images/latest-news-01.jpg"></a>
                </div>

                <div class="articleListTitle"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <a href="#" id=
                            "_ctl0__ctl0_cphBody__ctl0__ctl0__ctl0__ctl3_hlTitle">Church Day Out</a>
                </div>

                <div class="articleListDate"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <span id="_ctl0__ctl0_cphBody__ctl0__ctl0__ctl0__ctl4_lblBefore"></span> <span id=
                                                                                                           "_ctl0__ctl0_cphBody__ctl0__ctl0__ctl0__ctl4_lblDate">20/11/2012</span>
                </div>

                <div class="articleListSummary"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <span id="_ctl0__ctl0_cphBody__ctl0__ctl0__ctl0__ctl5_lblSummary">Come and join us for a fun packed day away as a church with age related activities for children and families.</span>
                </div>

                <div class="articleListLink"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    More Details
                </div>
            </div>

            <div id='_ctl0__ctl0_cphBody__ctl0__ctl0__ctl1__ctl0'>
                <div class="articleListImage"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <a href="#" id=
                            "_ctl0__ctl0_cphBody__ctl0__ctl0__ctl1__ctl2_hlItem"><img alt="" src=
                            "../images/latest-news-02.jpg"></a>
                </div>

                <div class="articleListTitle"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <a href="#" id=
                            "_ctl0__ctl0_cphBody__ctl0__ctl0__ctl1__ctl3_hlTitle">It's a boy!</a>
                </div>

                <div class="articleListDate"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <span id="_ctl0__ctl0_cphBody__ctl0__ctl0__ctl1__ctl4_lblBefore"></span> <span id=
                                                                                                           "_ctl0__ctl0_cphBody__ctl0__ctl0__ctl1__ctl4_lblDate">12/01/2015</span>
                </div>

                <div class="articleListSummary"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <span id="_ctl0__ctl0_cphBody__ctl0__ctl0__ctl1__ctl5_lblSummary">Congatulations to Ben and Sarah on the birth of their son Joseph who weighed in at 8lb 2oz. There’s still time to join the meal rota if you’d like to help out.</span>
                </div>

                <div class="articleListLink"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    More Details
                </div>
            </div>

            <div id='_ctl0__ctl0_cphBody__ctl0__ctl0__ctl2__ctl0'>
                <div class="articleListImage"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <a href="#" id=
                            "_ctl0__ctl0_cphBody__ctl0__ctl0__ctl2__ctl2_hlItem"><img alt="" src=
                            "../images/latest-news-03.jpg"></a>
                </div>

                <div class="articleListTitle"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <a href="#" id=
                            "_ctl0__ctl0_cphBody__ctl0__ctl0__ctl2__ctl3_hlTitle">New Alpha Course starting soon</a>
                </div>

                <div class="articleListDate"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <span id="_ctl0__ctl0_cphBody__ctl0__ctl0__ctl2__ctl4_lblBefore"></span> <span id=
                                                                                                           "_ctl0__ctl0_cphBody__ctl0__ctl0__ctl2__ctl4_lblDate">19/11/2012</span>
                </div>

                <div class="articleListSummary"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <span id="_ctl0__ctl0_cphBody__ctl0__ctl0__ctl2__ctl5_lblSummary">If you have friends or family who would be interested in attending the next Alpha Course, please see the details here.</span>
                </div>

                <div class="articleListLink"
                     style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    More Details
                </div>
            </div>
        </div>


        <a class="article_cards_button" href="#">MORE NEWS</a>
    </div>
</section>