<aside class="sidebar">
    <nav>
        <table class="group-nav" border="0" width="100%" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td style="padding:0px 0px 0px 0px">
                    <table class="boxout_header_type_GroupNavigation_ascx boxout_header" width="100%" border="0"
                           cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td class="boxout_header_left">&nbsp;</td>
                            <td class="boxout_header_middle"><a href="/Groups/236672/About_Us.aspx">About Us</a></td>
                            <td class="boxout_header_right">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <div class="group_nav_child"><a href="/Groups/236677/What_We_Believe.aspx">What We Believe</a>
                        </div>
                        <div class="group_nav_child"><a href="/Groups/236678/Mission_and_Vision.aspx">Mission and
                            Vision</a></div>
                        <div class="group_nav_child"><a href="/Groups/236679/Staff_and_Leadership.aspx">Staff and
                            Leadership</a></div>
                        <div class="group_nav_child"><a href="/Groups/236692/What_Is_Christianity.aspx">What Is
                            Christianity?</a></div>
                        <div class="group_nav_child"><a href="/Groups/236676/Contact_Us.aspx">Contact Us</a></div>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </nav>
    <div class="sidebar_buttons">
        <a href="/upcomingevents" class="button1">Upcoming Events</a>
        <a href="/latestmedia" class="button2">Latest Media</a>
        <a href="/visitorinfo" class="button3">Visitor Information</a>
    </div>
</aside>