<section class="slice_blocks2">
    <div class="container">
        <div class="block2-1">
            <div class="ArticleBody">
                <div class="text-content">
                    <span>Visiting Us?</span> Revelation Template, ChurchInsight, Musgrave Farm,<br/>Horningsea Road,
                    Cambridge, CB5 8SZ<br/></div>
                <a class="button" href="#">DIRECTIONS</a>
            </div>
        </div>
        <div class="block2-2">
            <div class="ArticleBody">
                <div class="text-content">
                    <span>Service Times</span> We meet every Sunday at 10:30am
                    Come and join us<br/></div>
                <a class="button" href="#">SUNDAYS</a>
            </div>
        </div>
    </div>
</section>