<section class="slice_slideshow_full_width">
    <div class="bannerSlides">
        <ul class="gallery_ul" id="_ctl0__ctl0_cphBody__ctl2_gallery_ul">
            <li class="gallery_li">
                <a href="#" target="_self"><img alt="WELCOME*Let’s go on the journey together" src="images/01-slide.jpg" title= "WELCOME*Let’s go on the journey together"></a>
            </li>

            <li class="gallery_li">
                <a href="#" target="_self"><img alt="LISTEN*Recent Sermons and Media" src="images/02-slide.jpg" title= "LISTEN*Recent Sermons and Media"></a>
            </li>

            <li class="gallery_li">
                <a href="#" target="_self"><img alt="WELCOME*Let’s go on the journey together" src="images/01-slide.jpg" title= "WELCOME*Let’s go on the journey together"></a>
            </li>

        </ul>
    </div>
</section>