<section class="slice_slideshow_mini">
    <div class="container">
        <h1>What’s On</h1>
        <div class="bannerSlides">
            <ul class="gallery_ul" id="_ctl0__ctl0_cphBody__ctl2_gallery_ul">
                <li class="gallery_li">
                    <a href="#" target="_self"><img alt="Christianity Explored"
                                                    src="images/01-CE.jpg"
                                                    title="Christianity Explored"></a>
                </li>

                <li class="gallery_li">
                    <a href="#" target="_self"><img alt="church-day-out"
                                                    src="images/02-church-day-out.jpg"
                                                    title="church-day-out"></a>
                </li>

                <li class="gallery_li">
                    <a href="#" target="_self"><img alt="Healing-Rooms"
                                                    src="images/03-Healing-Rooms.jpg"
                                                    title="Healing-Rooms"></a>
                </li>

            </ul>
        </div>
    </div>
    <section class="slice_buttons_3">
        <div class="container">
            <a href="#" class="button1">Latest News</a>
            <a href="#" class="button2">Upcoming Events</a>
            <a href="#" class="button3">Recent Media</a>

        </div>
    </section>
</section>