@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 45, ../../../components/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../../../components/sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../../../components/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../../../components/sass/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../../../components/sass/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../../../components/sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../../../components/sass/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../../../components/sass/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../../../components/sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../../../components/sass/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../../../components/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../../../components/sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../../../components/sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../../../components/sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../../../components/sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../../../components/sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../../../components/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../../../components/sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../../../components/sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../../../components/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../../../components/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../../../components/sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../../../components/sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../../../components/sass/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../../../components/sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 286, ../../../components/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../../../components/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../../../components/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../../../components/sass/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../../../components/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../../../components/sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../../../components/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../../../components/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, ../../../components/sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../../../components/sass/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 435, ../../../components/sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../../../components/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../../../components/sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../../../components/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../../../components/sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../../../components/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../../../components/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 506, ../../../components/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 516, ../../../components/sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 21, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../../../components/sass/_base.scss */
html {
  font-size: 0.625em;
}

/* line 11, ../../../components/sass/_base.scss */
body {
  color: #4D4D4D;
  font-family: Lato, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 21, ../../../components/sass/_base.scss */
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIxNC40OTI3NSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxNC40OTI3NSUiIHN0b3AtY29sb3I9IiM2NjY2ZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iODUuNTA3MjUlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48c3RvcCBvZmZzZXQ9Ijg1LjUwNzI1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(14.49275%, rgba(0, 0, 0, 0)), color-stop(14.49275%, rgba(102, 102, 255, 0.25)), color-stop(85.50725%, rgba(179, 179, 255, 0.25)), color-stop(85.50725%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 14.49275%, rgba(102, 102, 255, 0.25) 14.49275%, rgba(179, 179, 255, 0.25) 85.50725%, rgba(0, 0, 0, 0) 85.50725%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 14.49275%, rgba(102, 102, 255, 0.25) 14.49275%, rgba(179, 179, 255, 0.25) 85.50725%, rgba(0, 0, 0, 0) 85.50725%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 14.49275%, rgba(102, 102, 255, 0.25) 14.49275%, rgba(179, 179, 255, 0.25) 85.50725%, rgba(0, 0, 0, 0) 85.50725%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIxNC40OTI3NSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxNC40OTI3NSUiIHN0b3AtY29sb3I9IiM2NjY2ZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iODUuNTA3MjUlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48c3RvcCBvZmZzZXQ9Ijg1LjUwNzI1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(14.49275%, rgba(0, 0, 0, 0)), color-stop(14.49275%, rgba(102, 102, 255, 0.25)), color-stop(85.50725%, rgba(179, 179, 255, 0.25)), color-stop(85.50725%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 14.49275%, rgba(102, 102, 255, 0.25) 14.49275%, rgba(179, 179, 255, 0.25) 85.50725%, rgba(0, 0, 0, 0) 85.50725%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 14.49275%, rgba(102, 102, 255, 0.25) 14.49275%, rgba(179, 179, 255, 0.25) 85.50725%, rgba(0, 0, 0, 0) 85.50725%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 14.49275%, rgba(102, 102, 255, 0.25) 14.49275%, rgba(179, 179, 255, 0.25) 85.50725%, rgba(0, 0, 0, 0) 85.50725%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 31, ../../../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Lato, Arial, sans-serif;
  margin: 0.1em 0;
}

/* line 37, ../../../components/sass/_base.scss */
h1 {
  font-size: 48px;
  line-height: 50px;
  margin-top: 0;
}

/* line 43, ../../../components/sass/_base.scss */
h2 {
  font-size: 42px;
  line-height: 46px;
}

/* line 48, ../../../components/sass/_base.scss */
h3 {
  font-size: 36px;
  line-height: 42px;
}

/* line 53, ../../../components/sass/_base.scss */
h4 {
  font-size: 24px;
  line-height: 28px;
}

/* line 58, ../../../components/sass/_base.scss */
h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/* line 64, ../../../components/sass/_base.scss */
h6 {
  font-size: 18px;
  line-height: 28px;
}

/* line 74, ../../../components/sass/_base.scss */
blockquote {
  font-size: 14px;
}

/* line 78, ../../../components/sass/_base.scss */
a {
  color: #0db0d9;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  text-decoration: none;
}
/* line 86, ../../../components/sass/_base.scss */
a:hover {
  color: #13a9ce;
  text-decoration: none;
}

/* remove ios shadow */
/* line 94, ../../../components/sass/_base.scss */
input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 100, ../../../components/sass/_base.scss */
input[type=button] {
  -webkit-transform: all 500ms ease;
  -moz-transform: all 500ms ease;
  -ms-transform: all 500ms ease;
  -o-transform: all 500ms ease;
  transform: all 500ms ease;
}

/* line 108, ../../../components/sass/_base.scss */
.sitebutton {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  padding: 9px 15px;
  border-radius: 2px;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #5c9cc9;
  background-color: transparent;
  color: #5c9cc9;
}

/* line 123, ../../../components/sass/_base.scss */
.sitebutton:hover {
  color: #fff;
  border: 1px solid #5ac5c5;
  background-color: #5ac5c5;
}

/* line 129, ../../../components/sass/_base.scss */
.preview_overlay_content img {
  width: 20px;
}

/* line 132, ../../../components/sass/_base.scss */
img.preview_show {
  width: 20px;
}

/* popup windows */
/* line 138, ../../../components/sass/_base.scss */
.popupwindow_title {
  color: #4D4D4D;
}

/* view all forums  icon */
/* line 143, ../../../components/sass/_base.scss */
.forums_boxout_contents a img {
  width: 20px;
  margin-right: 8px;
}

/* directory search icon */
/* line 149, ../../../components/sass/_base.scss */
tr.gridheader a img {
  width: 25px;
}

/* media list icons */
/* line 155, ../../../components/sass/_base.scss */
.media_box_cell img {
  width: 18px;
}

/* line 158, ../../../components/sass/_base.scss */
.MediaListRSS img {
  width: 40px;
}

/* signup sheet */
/* line 162, ../../../components/sass/_base.scss */
table.signup tr td, td.signup0 {
  line-height: 0x;
  font-size: 0px;
  border-collapse: separate;
}

/* line 169, ../../../components/sass/_base.scss */
table.signup tr td img {
  height: 8px !important;
}

/* form styling */
/* line 173, ../../../components/sass/_base.scss */
input {
  -webkit-appearance: none;
}

/* line 176, ../../../components/sass/_base.scss */
input[type="checkbox"] + label, input[type="radio"] + label {
  margin-left: 10px;
}

/* line 182, ../../../components/sass/_base.scss */
.content_page_main .ArticleBody .author {
  display: none;
}

@media (min-width: 768px) {
  /* line 189, ../../../components/sass/_base.scss */
  body {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 195, ../../../components/sass/_base.scss */
  h1 {
    font-size: 48px;
    line-height: 50px;
    margin-top: 0;
  }

  /* line 201, ../../../components/sass/_base.scss */
  h2 {
    font-size: 42px;
    line-height: 46px;
  }

  /* line 206, ../../../components/sass/_base.scss */
  h3 {
    font-size: 36px;
    line-height: 42px;
  }

  /* line 211, ../../../components/sass/_base.scss */
  h4 {
    font-size: 24px;
    line-height: 28px;
  }

  /* line 216, ../../../components/sass/_base.scss */
  h5 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  /* line 222, ../../../components/sass/_base.scss */
  h6 {
    font-size: 18px;
    line-height: 28px;
  }

  /* line 228, ../../../components/sass/_base.scss */
  p {
    margin-bottom: 24px;
  }

  /* line 232, ../../../components/sass/_base.scss */
  blockquote {
    font-size: 16px;
  }
}
/* line 9, ../../../components/sass/modules/_slice_footertop.scss */
.footer-social-icons {
  width: 97.58454%;
  float: left;
  margin-left: 1.20773%;
  margin-right: 1.20773%;
}

/* line 13, ../../../components/sass/modules/_slice_footertop.scss */
.footer-column {
  width: 97.58454%;
  float: left;
  margin-left: 1.20773%;
  margin-right: 1.20773%;
}

@media (min-width: 768px) {
  /* line 19, ../../../components/sass/modules/_slice_footertop.scss */
  .contact-column {
    width: 64.25121%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }

  /* line 23, ../../../components/sass/modules/_slice_footertop.scss */
  .login-column {
    width: 30.91787%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }

  /* line 27, ../../../components/sass/modules/_slice_footertop.scss */
  .search-column {
    width: 97.58454%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }
}
@media (min-width: 992px) {
  /* line 35, ../../../components/sass/modules/_slice_footertop.scss */
  .contact-column {
    width: 30.91787%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }

  /* line 39, ../../../components/sass/modules/_slice_footertop.scss */
  .login-column {
    width: 30.91787%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }

  /* line 43, ../../../components/sass/modules/_slice_footertop.scss */
  .search-column {
    width: 30.91787%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }
}
/* line 53, ../../../components/sass/modules/_slice_footertop.scss */
.footertop1 {
  background-color: #5c9cc9;
}

/* line 57, ../../../components/sass/modules/_slice_footertop.scss */
.greeting_div {
  display: none;
}

/* line 61, ../../../components/sass/modules/_slice_footertop.scss */
.search_title {
  display: none;
}

/* line 65, ../../../components/sass/modules/_slice_footertop.scss */
.footer-social-icons {
  text-align: center;
  height: 76px;
}
/* line 69, ../../../components/sass/modules/_slice_footertop.scss */
.footer-social-icons .icon-social {
  line-height: 65px;
  display: inline-block;
}
/* line 73, ../../../components/sass/modules/_slice_footertop.scss */
.footer-social-icons .icon-social img {
  vertical-align: middle;
  display: inline-block;
}
/* line 78, ../../../components/sass/modules/_slice_footertop.scss */
.footer-social-icons .icon-social:nth-child(2) {
  margin: 0 10%;
}
/* line 82, ../../../components/sass/modules/_slice_footertop.scss */
.footer-social-icons .icon-social:hover {
  opacity: 0.7;
}

/* line 93, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 {
  color: #c6c6c6;
  background-color: #3a3a3a;
}
/* line 97, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 a {
  color: #c6c6c6;
}
/* line 101, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container {
  padding-top: 52px;
  padding-bottom: 37px;
  border-bottom: 1px solid #555555;
}
/* line 106, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .contact-column {
  line-height: 25px;
}
@media (min-width: 768px) {
  /* line 111, ../../../components/sass/modules/_slice_footertop.scss */
  .footertop2 .container .search-column {
    width: 300px;
  }
}
/* line 125, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .search-column .search_title {
  display: none;
}
/* line 129, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .search-column .search_div {
  margin-left: 0px;
}
@media (min-width: 768px) {
  /* line 129, ../../../components/sass/modules/_slice_footertop.scss */
  .footertop2 .container .search-column .search_div {
    margin-left: 30px;
  }
}
@media (min-width: 992px) {
  /* line 129, ../../../components/sass/modules/_slice_footertop.scss */
  .footertop2 .container .search-column .search_div {
    margin-left: 35px;
  }
}
/* line 142, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .search-column .search_div input {
  display: inline-block;
  width: 180px;
  height: 45px;
  float: left;
  border: 2px solid #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 16px;
  padding: 8px 12px;
  color: #a0a0a0;
  -webkit-appearance: none;
}
/* line 158, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .search-column .search_div input:focus {
  border-color: #31a7de;
  color: #000;
  outline: none;
}
/* line 165, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .search-column input.button {
  width: 50px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  float: left;
  margin: 0;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #5c9cc9;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 180, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .search-column input.button:hover {
  background-color: #a9cbe2;
  border: none;
}
/* line 185, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .search-column input.button:focus {
  outline: none;
}

/* line 5, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar {
  background-color: #3a3a3a;
}
/* line 9, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar {
  font-size: 1.3rem;
  text-align: center;
  padding: 20px 0 20px;
  line-height: 30px;
}
/* line 15, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar a {
  display: inline-block;
  text-decoration: none;
  color: #b1b1b1;
}
/* line 19, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar a:hover {
  color: #FFFFFF;
}
/* line 23, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar a#footer_mobile, .slice_footerbar .footerbar a#footer_copyright, .slice_footerbar .footerbar a#footer_tc, .slice_footerbar .footerbar a#footer_privacy, .slice_footerbar .footerbar a #footer_help {
  line-height: 16px;
}
/* line 27, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar a#footer_mobile::after, .slice_footerbar .footerbar a#footer_copyright::after, .slice_footerbar .footerbar a#footer_tc::after, .slice_footerbar .footerbar a#footer_privacy::after {
  content: "";
  padding-left: 4px;
  margin-right: 4px;
}
/* line 33, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar a.footer {
  float: left;
  width: 100%;
  border: none;
  text-indent: -9999px;
  background-image: url("../images/churchinsight-logo.png");
  background-size: 158px 28px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  height: 30px;
  margin-bottom: 10px;
}
/* line 46, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar a.footer.footer:hover {
  background-image: url("../images/churchinsight-logo-hover.png");
}
/* line 51, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar span#footer_charity {
  float: right;
  width: 100%;
  color: #b1b1b1;
}
@media (min-width: 992px) {
  /* line 9, ../../../components/sass/modules/_slice_footerbar.scss */
  .slice_footerbar .footerbar {
    padding: 25px 0 0;
  }
  /* line 63, ../../../components/sass/modules/_slice_footerbar.scss */
  .slice_footerbar .footerbar a.footer {
    width: 25%;
    margin-bottom: 25px;
  }
  /* line 68, ../../../components/sass/modules/_slice_footerbar.scss */
  .slice_footerbar .footerbar a#footer_mobile::after, .slice_footerbar .footerbar a#footer_copyright::after, .slice_footerbar .footerbar a#footer_tc::after, .slice_footerbar .footerbar a#footer_privacy::after {
    content: "|";
    padding-left: 10px;
    margin-right: 10px;
    color: #b1b1b1;
  }
  /* line 77, ../../../components/sass/modules/_slice_footerbar.scss */
  .slice_footerbar .footerbar span#footer_charity {
    width: 25%;
  }
}
