@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
/* line 45, ../../../components/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../../../components/sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../../../components/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../../../components/sass/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../../../components/sass/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../../../components/sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../../../components/sass/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../../../components/sass/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../../../components/sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../../../components/sass/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../../../components/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../../../components/sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../../../components/sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../../../components/sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../../../components/sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../../../components/sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../../../components/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../../../components/sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../../../components/sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../../../components/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../../../components/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../../../components/sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../../../components/sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../../../components/sass/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../../../components/sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 286, ../../../components/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../../../components/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../../../components/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../../../components/sass/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../../../components/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../../../components/sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../../../components/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../../../components/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, ../../../components/sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../../../components/sass/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 435, ../../../components/sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../../../components/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../../../components/sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../../../components/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../../../components/sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../../../components/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../../../components/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 506, ../../../components/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 516, ../../../components/sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 21, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
// ======================================
//  slice footerbar
// ======================================

$footerbar_background-color: #129dc0er;
$footerbar_font-color: #b1b1b1;
$footerbar_font-size: 1.3rem;


// ======================================
//  slice footertop-1
// ======================================

$footertop1_background-color: #129dc0;


// ======================================
//  slice footertop-2
// ======================================

$footertop2_background-color: #129dc0er;
$footertop2_font-color: $grey-light;
$footertop2_font-color-link: $grey-light;

$footertop2_search_button-background-color: #129dc0;
$footertop2_search_button-background-color--hover: lighten(#129dc0, 20%);
$footertop2_search_button-color: #fff;
*/
/*
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
*/
/* line 5, ../../../components/sass/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 10, ../../../components/sass/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 13, ../../../components/sass/_base.scss */
html {
  font-size: 0.625em;
}

/* line 17, ../../../components/sass/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../../../components/sass/_base.scss */
body {
  color: #2b4049;
  font-family: Lato, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 2rem;
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 34, ../../../components/sass/_base.scss */
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 40, ../../../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Lato, Arial, sans-serif;
  margin: 0.1em 0;
}

/* line 46, ../../../components/sass/_base.scss */
h1 {
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 700;
}

/* line 52, ../../../components/sass/_base.scss */
h2 {
  font-size: 2.1rem;
  line-height: 2.4rem;
  font-weight: 700;
}

/* line 58, ../../../components/sass/_base.scss */
h3 {
  font-size: 2.0rem;
  line-height: 2.2rem;
  color: #129dc0;
}

/* line 64, ../../../components/sass/_base.scss */
h4 {
  font-size: 1.9rem;
  line-height: 2rem;
  font-weight: 700;
}

/* line 70, ../../../components/sass/_base.scss */
h5 {
  font-size: 1.8rem;
  line-height: 2rem;
}

/* line 76, ../../../components/sass/_base.scss */
h6 {
  font-size: 1.7rem;
  line-height: 2rem;
}

/* line 83, ../../../components/sass/_base.scss */
blockquote {
  font-size: 1.4rem;
}

/* line 87, ../../../components/sass/_base.scss */
a {
  color: #129dc0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  text-decoration: none;
  cursor: pointer;
}
/* line 96, ../../../components/sass/_base.scss */
a:hover {
  color: #4acfc7;
  text-decoration: none;
}

/* remove ios shadow */
/* line 104, ../../../components/sass/_base.scss */
input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 110, ../../../components/sass/_base.scss */
input[type=button] {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* line 118, ../../../components/sass/_base.scss */
.sitebutton {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  padding: 9px 15px;
  border-radius: 2px;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #129dc0;
  background-color: transparent;
  color: #129dc0;
}

/* line 133, ../../../components/sass/_base.scss */
.sitebutton:hover {
  color: #fff;
  border: 1px solid #5ac5c5;
  background-color: #5ac5c5;
}

/* line 139, ../../../components/sass/_base.scss */
.preview_overlay_content img {
  width: 20px;
}

/* line 142, ../../../components/sass/_base.scss */
img.preview_show {
  width: 20px;
}

/* popup windows */
/* line 148, ../../../components/sass/_base.scss */
.popupwindow_title {
  color: #129dc0;
}

/* view all forums  icon */
/* line 153, ../../../components/sass/_base.scss */
.forums_boxout_contents a img {
  width: 20px;
  margin-right: 8px;
}

/* directory search icon */
/* line 159, ../../../components/sass/_base.scss */
tr.gridheader a img {
  width: 25px;
}

/* media list icons */
/* line 165, ../../../components/sass/_base.scss */
.media_box_cell img {
  width: 18px;
}

/* line 168, ../../../components/sass/_base.scss */
.MediaListRSS img {
  width: 40px;
}

/* signup sheet */
/* line 172, ../../../components/sass/_base.scss */
table.signup tr td, td.signup0 {
  line-height: 0;
  font-size: 0;
  border-collapse: separate;
}

/* line 179, ../../../components/sass/_base.scss */
table.signup tr td img {
  height: 8px !important;
}

/* form styling */
/* line 183, ../../../components/sass/_base.scss */
input {
  -webkit-appearance: none;
}

/* line 186, ../../../components/sass/_base.scss */
input[type="checkbox"] + label, input[type="radio"] + label {
  margin-left: 10px;
}

/* line 192, ../../../components/sass/_base.scss */
.content_page_main .ArticleBody .author {
  display: none;
}

@media (min-width: 768px) {
  /* line 199, ../../../components/sass/_base.scss */
  body {
    font-size: 1.6rem;
  }

  /* line 205, ../../../components/sass/_base.scss */
  h1 {
    font-size: 4.4rem;
    line-height: 5rem;
    font-weight: 700;
  }

  /* line 211, ../../../components/sass/_base.scss */
  h2 {
    font-size: 4.2rem;
    line-height: 4.8rem;
    font-weight: 700;
  }

  /* line 217, ../../../components/sass/_base.scss */
  h3 {
    font-size: 2.4rem;
    line-height: 3rem;
    color: #129dc0;
  }

  /* line 223, ../../../components/sass/_base.scss */
  h4 {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 700;
  }

  /* line 229, ../../../components/sass/_base.scss */
  h5 {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  /* line 235, ../../../components/sass/_base.scss */
  h6 {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  /* line 241, ../../../components/sass/_base.scss */
  p {
    margin-bottom: 2.4rem;
  }

  /* line 245, ../../../components/sass/_base.scss */
  blockquote {
    font-size: 1.6rem;
  }
}
/* line 8, ../../../components/sass/modules/_slice_header.scss */
.siteLogoName {
  width: 30.75601%;
  float: left;
  margin-left: 1.28866%;
  margin-right: 1.28866%;
}
@media (min-width: 992px) {
  /* line 8, ../../../components/sass/modules/_slice_header.scss */
  .siteLogoName {
    width: 22.42268%;
    float: left;
    margin-left: 1.28866%;
    margin-right: 1.28866%;
  }
}

/* line 16, ../../../components/sass/modules/_slice_header.scss */
.navbar {
  width: 97.42268%;
  float: left;
  margin-left: 1.28866%;
  margin-right: 1.28866%;
}
@media (min-width: 992px) {
  /* line 16, ../../../components/sass/modules/_slice_header.scss */
  .navbar {
    width: 72.42268%;
    float: left;
    margin-left: 1.28866%;
    margin-right: 1.28866%;
  }
}

/* line 27, ../../../components/sass/modules/_slice_header.scss */
.slice_header {
  /*
    .slicknav_nav .slicknav_txtnode {
      margin-left: 15px;
    }

    .slicknav_nav .slicknav_collapsed .slicknav_item:hover a,
    .slicknav_nav .slicknav_open .slicknav_item:hover a,
    .slicknav_nav .slicknav_open .slicknav_collapsed .slicknav_item:hover a {
      color: $slicknav-color--hover !important;
    }
  */
}
/* line 29, ../../../components/sass/modules/_slice_header.scss */
.slice_header #mobile_nav {
  z-index: 200;
}
/* line 38, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu {
  font-size: 1.6rem;
  margin-bottom: 0 !important;
  /* IE6/7 support */
  *zoom: 1;
}
/* line 42, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu:before, .slice_header .slicknav_menu:after {
  content: " ";
  display: table;
}
/* line 47, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu:after {
  clear: both;
}
/* line 54, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_btn {
  text-decoration: none;
  background-color: transparent;
  width: 100%;
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 1.1em 0.625em 0.638em 0.825em;
  line-height: 1.125em;
  cursor: pointer;
  margin-bottom: 15px;
}
/* line 67, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_btn .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: right;
  color: #2c4048;
}
/* line 74, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_btn .slicknav_icon {
  float: right;
  margin: 0.33em 0.438em 0 0.438em;
  color: #2c4048;
}
/* line 79, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_btn .slicknav_icon .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  background-color: #5acfc6;
}
/* line 85, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_btn .slicknav_icon .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}
/* line 90, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_btn .slicknav_icon .slicknav_no-text {
  margin: 0;
}
@media (min-width: 467px) {
  /* line 97, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .slicknav_menu .slicknav_btn {
    margin-bottom: 25px;
  }
}
/* line 103, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav {
  clear: both;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
/* line 111, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav a {
  color: #2b4049;
  display: block;
  padding: 12px 20px;
}
/* line 116, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav a:hover {
  background: #fff;
  color: #129dc0;
}
/* line 123, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav ul, .slice_header .slicknav_menu .slicknav_nav li {
  display: block;
  padding: 0;
  margin: 0;
}
/* line 129, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav ul {
  list-style: none;
  overflow: hidden;
  margin-top: 0;
}
/* line 133, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav ul li {
  border-top: none;
  border-bottom: none;
}
/* line 138, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav ul ul li a {
  padding-left: 25px;
}
/* line 142, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav .slicknav_arrow {
  float: right;
  width: 11px;
  height: 7px;
  padding-top: 17px;
  display: none;
}
/* line 149, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav .slicknav_arrow .close {
  width: 11px;
  height: 7px;
  background: url(../images/dd_down.png) center no-repeat;
  margin-top: 6px;
  display: none;
}
/* line 156, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav .slicknav_arrow .open {
  width: 11px;
  height: 7px;
  background: url(../images/dd_up.png) center no-repeat;
  margin-top: 6px;
  display: none;
}
/* line 163, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav .slicknav_arrow a {
  display: block;
  padding: 12px 20px;
  margin-left: 0;
}
/* line 171, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav .slicknav_item {
  display: block;
  cursor: pointer;
  padding: 12px 20px;
}
/* line 180, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav .slicknav_item a {
  display: inline;
  padding: 0;
  margin: 0;
  color: #000;
}
/* line 198, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav ul li a {
  padding: 12px 20px;
}
/* line 205, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_nav .login_item :hover {
  background-color: #0068a6;
  color: #ffffff;
}
/* line 214, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_open > a {
  background: #f5f5f5;
}
/* line 218, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_open > ul {
  background: #f5f5f5;
}
/* line 223, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_open.menu_item_level_1 > a {
  margin-left: 0;
}
/* line 228, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_open.menu_item_level_1 > ul > li > a {
  padding-left: 30px !important;
}
/* line 238, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_open.menu_item_level_2 > ul > li > a {
  padding-left: 40px !important;
}
/* line 245, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_open .slicknav_item {
  background: transparent url(../images/dd-up.png) 93% center no-repeat;
}
/* line 248, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_open .slicknav_item:hover {
  background: #fff url(../images/dd-up-hover.png) 93% center no-repeat;
  color: #129dc0;
}
/* line 257, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_collapsed .slicknav_item {
  background: transparent url(../images/dd-down.png) 93% center no-repeat;
}
/* line 260, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_collapsed .slicknav_item:hover {
  background: #fff url(../images/dd-down-hover.png) 93% center no-repeat;
  color: #129dc0;
}
/* line 280, ../../../components/sass/modules/_slice_header.scss */
.slice_header .mobile-search {
  position: absolute;
  top: -3px;
  right: 100px;
  display: block;
  z-index: 999;
}
/* line 287, ../../../components/sass/modules/_slice_header.scss */
.slice_header .mobile-search a {
  display: block;
  height: 40px;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
  opacity: 1;
}
/* line 296, ../../../components/sass/modules/_slice_header.scss */
.slice_header .mobile-search a :hover {
  opacity: 0.7;
}
/* line 302, ../../../components/sass/modules/_slice_header.scss */
.slice_header .search-overlay {
  transition: opacity 500ms;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 185px;
  right: 0;
  z-index: 999;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #4acfc7;
}
/* line 315, ../../../components/sass/modules/_slice_header.scss */
.slice_header .search-overlay:target {
  visibility: visible;
  opacity: 1;
}
/* line 320, ../../../components/sass/modules/_slice_header.scss */
.slice_header .search-overlay .search-form {
  margin: 0 50px 0 0;
}
/* line 323, ../../../components/sass/modules/_slice_header.scss */
.slice_header .search-overlay .search-form input.button {
  display: none;
}
/* line 327, ../../../components/sass/modules/_slice_header.scss */
.slice_header .search-overlay .search-form .search-close {
  position: absolute;
  top: 6px;
  right: 10px;
  transition: all 200ms;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
/* line 337, ../../../components/sass/modules/_slice_header.scss */
.slice_header .search-overlay .search-form .search-close:hover {
  color: #0068a6;
}
/* line 344, ../../../components/sass/modules/_slice_header.scss */
.slice_header .search-overlay .search-form .search_div input.text {
  height: 50px;
  margin-bottom: 0px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 4px;
  background-color: #f5f5f5;
  background-image: url("../images/searchbox-icon.png");
  background-position: 22px 50%;
  background-size: auto 20px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 500ms ease, border 500ms ease;
  -o-transition: background-color 500ms ease, border 500ms ease;
  transition: background-color 500ms ease, border 500ms ease;
  font-family: Asap, sans-serif;
  font-size: 15px;
  text-align: center;
  width: 100%;
  color: #2c4048;
  outline: none;
  margin-left: 10px;
}
/* line 368, ../../../components/sass/modules/_slice_header.scss */
.slice_header .search-overlay .search-form .search_div input.text:hover {
  border-color: white;
  background-color: white;
  background-image: url("../images/searchbox-icon.png");
  color: #000;
}
/* line 381, ../../../components/sass/modules/_slice_header.scss */
.slice_header .top-link-wrapper {
  display: none;
}
@media (min-width: 992px) {
  /* line 386, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .top-link-wrapper {
    display: block;
    top: 0px;
    right: 25px;
    bottom: 0px;
    height: 50px;
    margin-top: 4px;
    z-index: 10;
    position: static;
    margin-right: 10px;
    margin-left: 10px;
    float: right;
  }
  /* line 399, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .top-link-wrapper .header-link-block {
    height: 50px;
    padding-top: 15px;
    padding-right: 11px;
    padding-left: 11px;
    margin-left: 7px;
    border-radius: 3px;
    background-color: #f5f5f5;
    -webkit-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    color: #2b4049;
    font-size: 11px;
    text-decoration: none;
    float: left;
  }
  /* line 415, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .top-link-wrapper .header-link-block:hover {
    background-color: #dceff4;
    color: black;
  }
  /* line 421, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .top-link-wrapper .header-link-block .header-icon {
    width: 16px;
    margin-right: 5px;
    float: left;
    opacity: 0.2;
  }
  /* line 428, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .top-link-wrapper .header-link-block .header-icon:hover {
    opacity: 1.0;
  }
  /* line 431, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .top-link-wrapper .header-link-block .header-link {
    display: inline-block;
    float: left;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
/* line 449, ../../../components/sass/modules/_slice_header.scss */
.slice_header .logo-container {
  position: absolute;
  top: 0;
  margin-top: 5px;
  margin-left: 10px;
  z-index: 300;
  height: 50px;
}
/* line 457, ../../../components/sass/modules/_slice_header.scss */
.slice_header .logo-container .logo-icon {
  float: left;
}
/* line 460, ../../../components/sass/modules/_slice_header.scss */
.slice_header .logo-container .logo-icon a {
  display: block;
}
/* line 463, ../../../components/sass/modules/_slice_header.scss */
.slice_header .logo-container .logo-icon a img {
  width: 40px;
}
/* line 469, ../../../components/sass/modules/_slice_header.scss */
.slice_header .logo-container .logo-name {
  float: left;
  margin-top: 22px;
  margin-left: 3px;
}
/* line 474, ../../../components/sass/modules/_slice_header.scss */
.slice_header .logo-container .logo-name a {
  display: block;
  font-size: 2.2rem;
  color: #2b4049;
  font-weight: 700;
}
/* line 480, ../../../components/sass/modules/_slice_header.scss */
.slice_header .logo-container .logo-name a:hover {
  opacity: 0.7;
}
@media (min-width: 467px) {
  /* line 488, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .logo-container .logo-name a {
    font-size: 2.86rem;
    margin-top: 6px;
  }
  /* line 495, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .logo-container .logo-icon a img {
    width: 55px;
  }
}
@media (min-width: 992px) {
  /* line 504, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .logo-container {
    margin-top: 15px;
    margin-left: 15px;
  }
  /* line 509, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .logo-container .logo-icon a {
    margin-top: 25px;
  }
  /* line 515, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .logo-container .logo-name a {
    margin-top: 33px;
  }
  /* line 518, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .logo-container .logo-name a img {
    width: 70px;
  }
}
/* line 529, ../../../components/sass/modules/_slice_header.scss */
.slice_header .nav-menu {
  display: none;
}
@media (min-width: 992px) {
  /* line 536, ../../../components/sass/modules/_slice_header.scss */
  .slice_header #mobile_nav {
    display: none;
  }
  /* line 542, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar {
    background-color: transparent;
    z-index: 10;
    float: right;
    width: 100%;
    margin-top: 0;
  }
  /* line 549, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar .nav-menu {
    display: block;
    float: right;
    margin-top: 15px;
  }
  /* line 554, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar .nav-menu .root_menu {
    padding-left: 0;
    margin: 0 auto;
  }
  /* line 560, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar .nav-menu .root_menu ul {
    display: none;
  }
  /* line 564, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar .nav-menu .root_menu li {
    position: relative;
    list-style-type: none;
  }
  /* line 568, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar .nav-menu .root_menu li:hover > ul {
    display: block;
  }
  /* line 573, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar .nav-menu .root_menu > li {
    float: left;
    position: relative;
    margin-top: 4px;
  }
  /* line 578, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar .nav-menu .root_menu > li > a {
    padding: 17px 20px;
  }
  /* line 582, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar .nav-menu .root_menu > li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #f5f5f5;
    min-width: 210px;
    padding: 0;
    z-index: 999;
  }
  /* line 591, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar .nav-menu .root_menu > li ul a {
    color: #2c4048;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 15px 23px;
  }
  /* line 598, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar .nav-menu .root_menu > li ul ul {
    top: 0;
    left: 100%;
  }
  /* line 603, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar .nav-menu .root_menu > li ul li.has_sub_menu:after {
    content: ">";
    color: #2c4048;
    position: absolute;
    right: 15px;
    top: 3px;
    line-height: 30px;
    height: 30px;
  }
  /* line 615, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar .nav-menu .root_menu > li:hover > a {
    background-color: #f5f5f5;
    color: #129dc0;
  }
  /* line 620, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar .nav-menu .root_menu > li li:hover > a {
    color: #129dc0;
    background-color: #ffffff;
  }
  /* line 630, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar a {
    color: #2c4048;
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
    -webkit-transition: background-color 400ms ease;
    -moz-transition: background-color 400ms ease;
    -ms-transition: background-color 400ms ease;
    -o-transition: background-color 400ms ease;
    transition: background-color 400ms ease;
    text-decoration: none;
    text-transform: capitalize;
  }
  /* line 644, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar ul {
    list-style-type: none;
  }
}

/* line 8, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides {
  margin-top: 0;
}
/* line 11, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper {
  margin-bottom: 0;
  border: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  left: 0 !important;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
/* line 24, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul {
  padding: 0;
  margin-top: 0 !important;
}
/* line 30, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li img {
  height: 100%;
  width: 100%;
}
/* line 35, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption {
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 43, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption .slideTitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, Arial, sans-serif;
  color: #fff;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  text-align: center;
}
/* line 54, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption .slideText {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 1.1rem;
  color: #fff;
  line-height: 1.6rem;
  font-weight: 700;
  text-align: center;
}
/* line 65, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption .slideButton {
  color: #fff;
  border: 2px solid #2d9ebd;
  background-color: #2d9ebd;
  font-size: 0.7rem;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  margin: 10px auto 0;
  display: block;
  width: 85px;
  -webkit-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
  -o-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
  transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
  text-decoration: none;
}
/* line 81, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption .slideButton:hover {
  opacity: 0.8;
}
@media (min-width: 467px) {
  /* line 87, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption {
    top: 15%;
  }
  /* line 90, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption .slideTitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3.75rem;
    line-height: 3rem;
  }
  /* line 97, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption .slideText {
    margin-bottom: 2rem;
    font-size: 1.65rem;
    line-height: 1.6rem;
  }
  /* line 103, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption .slideButton {
    font-size: 1.4rem;
    padding: 10px;
    width: 135px;
  }
}
@media (min-width: 768px) {
  /* line 113, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption {
    top: 20%;
  }
  /* line 116, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption .slideTitle {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 7rem;
    line-height: 3rem;
  }
  /* line 123, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption .slideText {
    margin-bottom: 4rem;
    font-size: 2.75rem;
    line-height: 1.6rem;
  }
}
@media (min-width: 992px) {
  /* line 134, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption .slideTitle {
    font-size: 10rem;
    line-height: 3rem;
  }
  /* line 139, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption .slideText {
    margin-bottom: 4rem;
    font-size: 2.75rem;
    line-height: 1.6rem;
    margin-top: 6rem;
  }
}
@media (min-width: 1200px) {
  /* line 150, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .gallery_ul .gallery_li .caption {
    top: 25%;
  }
}
/* line 160, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-controls .bx-pager.bx-default-pager {
  bottom: 10px;
}
/* line 163, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-controls .bx-pager.bx-default-pager a {
  background: #f5f5f5;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}
/* line 169, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-controls .bx-pager.bx-default-pager a:hover, .slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-controls .bx-pager.bx-default-pager a.active {
  background: #4acfc7;
}
/* line 177, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-controls-direction a {
  width: 24px;
  height: 34px;
}
/* line 183, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-prev {
  left: 0;
  background: rgba(0, 0, 0, 0.53) url(../images/arrow-prev-small.png) no-repeat 7px center;
}
/* line 187, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-prev:hover, .slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-prev:focus {
  background: rgba(0, 0, 0, 0.53) url(../images/arrow-prev-small.png) no-repeat 5px center;
}
/* line 192, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-next {
  right: 0;
  background: rgba(0, 0, 0, 0.53) url(../images/arrow-next-small.png) no-repeat 9px center;
}
/* line 196, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-next:hover, .slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-next:focus {
  background: rgba(0, 0, 0, 0.53) url(../images/arrow-next-small.png) no-repeat 11px center;
}
@media (min-width: 768px) {
  /* line 206, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-controls .bx-pager.bx-default-pager {
    bottom: 20px;
  }
  /* line 209, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-controls .bx-pager.bx-default-pager a {
    width: 14px;
    height: 14px;
    border-radius: 7px;
  }
  /* line 218, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-controls-direction a {
    width: 55px;
    height: 70px;
  }
  /* line 223, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-prev {
    left: 0;
    background: rgba(0, 0, 0, 0.53) url(../images/arrow-prev.png) no-repeat 20px center;
  }
  /* line 227, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-prev:hover, .slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-prev:focus {
    background: rgba(0, 0, 0, 0.53) url(../images/arrow-prev.png) no-repeat 17px center;
  }
  /* line 232, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-next {
    right: 0;
    background: rgba(0, 0, 0, 0.53) url(../images/arrow-next.png) no-repeat 24px center;
  }
  /* line 236, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-next:hover, .slice_slideshow_full_width .bannerSlides .bx-wrapper .bx-next:focus {
    background: rgba(0, 0, 0, 0.53) url(../images/arrow-next.png) no-repeat 26px center;
  }
}

/* line 9, ../../../components/sass/modules/_slice_blocks2.scss */
.slice_blocks2 .block2-1, .slice_blocks2 .block2-2, .slice_blocks2 .mapButton {
  width: 97.42268%;
  float: left;
  margin-left: 1.28866%;
  margin-right: 1.28866%;
}
@media (min-width: 768px) {
  /* line 13, ../../../components/sass/modules/_slice_blocks2.scss */
  .slice_blocks2 .block2-1 {
    width: 47.42268%;
    float: left;
    margin-left: 1.28866%;
    margin-right: 1.28866%;
  }
}
@media (min-width: 768px) {
  /* line 18, ../../../components/sass/modules/_slice_blocks2.scss */
  .slice_blocks2 .block2-2 {
    width: 47.42268%;
    float: left;
    margin-left: 1.28866%;
    margin-right: 1.28866%;
  }
}

/* line 29, ../../../components/sass/modules/_slice_blocks2.scss */
.slice_blocks2 {
  background-color: #f5f5f5;
}
/* line 33, ../../../components/sass/modules/_slice_blocks2.scss */
.slice_blocks2 .block2-1, .slice_blocks2 .block2-2 {
  padding: 15px;
  color: #2d4048;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
}
/* line 41, ../../../components/sass/modules/_slice_blocks2.scss */
.slice_blocks2 .block2-1 span, .slice_blocks2 .block2-2 span {
  color: #2d4048;
  font-weight: 700;
  display: block;
}
@media (min-width: 768px) {
  /* line 33, ../../../components/sass/modules/_slice_blocks2.scss */
  .slice_blocks2 .block2-1, .slice_blocks2 .block2-2 {
    text-align: left;
    font-size: 1.6rem;
    line-height: 2rem;
    padding-left: 85px;
  }
}
@media (min-width: 992px) {
  /* line 33, ../../../components/sass/modules/_slice_blocks2.scss */
  .slice_blocks2 .block2-1, .slice_blocks2 .block2-2 {
    text-align: left;
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
/* line 62, ../../../components/sass/modules/_slice_blocks2.scss */
.slice_blocks2 .block2-1 {
  border-bottom: 1px solid #e1e1e1;
}
@media (min-width: 768px) {
  /* line 62, ../../../components/sass/modules/_slice_blocks2.scss */
  .slice_blocks2 .block2-1 {
    background-image: url(../images/icon-clock.png), url(../images/border-line.png);
    background-position: 20px 27px, right;
    background-repeat: no-repeat, no-repeat;
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  /* line 73, ../../../components/sass/modules/_slice_blocks2.scss */
  .slice_blocks2 .block2-2 {
    background-image: url(../images/icon-marker.png);
    background-position: 20px 27px;
    background-repeat: no-repeat;
  }
}

/* line 7, ../../../components/sass/modules/_slice_block1.scss */
.slice_block1 {
  width: 97.42268%;
  float: left;
  margin-left: 1.28866%;
  margin-right: 1.28866%;
}
@media (min-width: 992px) {
  /* line 10, ../../../components/sass/modules/_slice_block1.scss */
  .slice_block1 .ArticleBody {
    width: 47.42268%;
    float: left;
    margin-left: 1.28866%;
    margin-right: 1.28866%;
    margin-left: 26.28866%;
  }
}

/* line 21, ../../../components/sass/modules/_slice_block1.scss */
.slice_block1 {
  background-color: #fff;
  color: #2b4049;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  padding: 15px 15px 30px;
}
/* line 30, ../../../components/sass/modules/_slice_block1.scss */
.slice_block1 h1 {
  color: #2c4048;
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  /* line 30, ../../../components/sass/modules/_slice_block1.scss */
  .slice_block1 h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 992px) {
  /* line 30, ../../../components/sass/modules/_slice_block1.scss */
  .slice_block1 h1 {
    font-size: 4rem;
    margin-bottom: 1.7rem;
  }
}
/* line 46, ../../../components/sass/modules/_slice_block1.scss */
.slice_block1 a {
  display: block;
  border: 2px solid #129dc0;
  color: #129dc0;
  padding: 10px 15px;
  font-size: 1.3rem;
  max-width: 125px;
  margin: 15px auto 0;
  border-radius: 5px;
}
/* line 56, ../../../components/sass/modules/_slice_block1.scss */
.slice_block1 a:hover {
  background-color: #129dc0;
  color: #fff;
}
@media (min-width: 768px) {
  /* line 46, ../../../components/sass/modules/_slice_block1.scss */
  .slice_block1 a {
    font-size: 1.56rem;
    max-width: 160px;
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  /* line 21, ../../../components/sass/modules/_slice_block1.scss */
  .slice_block1 {
    font-size: 2.1rem;
    line-height: 3rem;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  /* line 21, ../../../components/sass/modules/_slice_block1.scss */
  .slice_block1 {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

/* line 7, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form {
  clear: both;
}
@media (min-width: 992px) {
  /* line 10, ../../../components/sass/modules/_slice_block1_form.scss */
  .slice_block1_form .slice_block1_form_wrapper {
    width: 80.75601%;
    float: left;
    margin-left: 1.28866%;
    margin-right: 1.28866%;
    margin-left: 9.62199%;
  }
}

/* line 23, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form {
  padding: 30px 15px;
}
/* line 27, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form h1 {
  color: #2d4048;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 27, ../../../components/sass/modules/_slice_block1_form.scss */
  .slice_block1_form h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 992px) {
  /* line 27, ../../../components/sass/modules/_slice_block1_form.scss */
  .slice_block1_form h1 {
    font-size: 4.4rem;
    margin-bottom: 1.7rem;
  }
}
/* line 44, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form .slice_block1_form_wrapper {
  background-color: #5acfc6;
  border-radius: 5px;
  padding: 10px 15px;
}
/* line 50, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form .slice_block1_form_wrapper .form_text {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}
/* line 57, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form .slice_block1_form_wrapper .form_text h1 {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 57, ../../../components/sass/modules/_slice_block1_form.scss */
  .slice_block1_form .slice_block1_form_wrapper .form_text h1 {
    font-size: 2.16rem;
    text-align: left;
  }
}
@media (min-width: 992px) {
  /* line 57, ../../../components/sass/modules/_slice_block1_form.scss */
  .slice_block1_form .slice_block1_form_wrapper .form_text h1 {
    font-size: 2.34rem;
    margin-bottom: 1.44rem;
  }
}
@media (min-width: 768px) {
  /* line 50, ../../../components/sass/modules/_slice_block1_form.scss */
  .slice_block1_form .slice_block1_form_wrapper .form_text {
    width: 47.42268%;
    float: left;
    margin-left: 1.28866%;
    margin-right: 1.28866%;
    text-align: left;
    padding-right: 30px;
  }
}
@media (min-width: 992px) {
  /* line 50, ../../../components/sass/modules/_slice_block1_form.scss */
  .slice_block1_form .slice_block1_form_wrapper .form_text {
    padding-top: 5px;
  }
}
/* line 87, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form .slice_block1_form_wrapper .form_fields {
  margin-top: 20px;
}
/* line 90, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form .slice_block1_form_wrapper .form_fields label {
  display: none;
}
@media (min-width: 768px) {
  /* line 90, ../../../components/sass/modules/_slice_block1_form.scss */
  .slice_block1_form .slice_block1_form_wrapper .form_fields label {
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
  }
}
/* line 101, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form .slice_block1_form_wrapper .form_fields input.form-control, .slice_block1_form .slice_block1_form_wrapper .form_fields textarea.form-control {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #7f7e7e;
}
/* line 113, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form .slice_block1_form_wrapper .form_fields textarea.form-control {
  height: auto;
  border: none;
}
/* line 118, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form .slice_block1_form_wrapper .form_fields ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #7f7e7e;
  font-size: 1.5rem;
}
/* line 122, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form .slice_block1_form_wrapper .form_fields ::-moz-placeholder {
  /* Firefox 19+ */
  color: #7f7e7e;
  font-size: 1.5rem;
}
/* line 126, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form .slice_block1_form_wrapper .form_fields :-ms-input-placeholder {
  /* IE 10+ */
  color: #7f7e7e;
  font-size: 1.5rem;
}
/* line 130, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form .slice_block1_form_wrapper .form_fields :-moz-placeholder {
  /* Firefox 18- */
  color: #7f7e7e;
  font-size: 1.5rem;
}
/* line 135, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form .slice_block1_form_wrapper .form_fields input.sitebutton {
  display: block;
  margin: 0 auto 10px;
  padding: 9px 15px;
  border-radius: 2px;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #2b91ad;
  background-color: #2b91ad;
  color: #fff;
}
/* line 151, ../../../components/sass/modules/_slice_block1_form.scss */
.slice_block1_form .slice_block1_form_wrapper .form_fields input.sitebutton:hover {
  border: 2px solid #2d9ebd;
  background-color: #2d9ebd;
}
@media (min-width: 768px) {
  /* line 87, ../../../components/sass/modules/_slice_block1_form.scss */
  .slice_block1_form .slice_block1_form_wrapper .form_fields {
    width: 47.42268%;
    float: left;
    margin-left: 1.28866%;
    margin-right: 1.28866%;
  }
}
@media (min-width: 768px) {
  /* line 44, ../../../components/sass/modules/_slice_block1_form.scss */
  .slice_block1_form .slice_block1_form_wrapper {
    font-size: 2.1rem;
    line-height: 3rem;
    padding-top: 15px;
  }
}
@media (min-width: 992px) {
  /* line 44, ../../../components/sass/modules/_slice_block1_form.scss */
  .slice_block1_form .slice_block1_form_wrapper {
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  /* line 23, ../../../components/sass/modules/_slice_block1_form.scss */
  .slice_block1_form {
    background: #fff url(../images/stripes.png);
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
