@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
/* line 45, ../../../components/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../../../components/sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../../../components/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../../../components/sass/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../../../components/sass/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../../../components/sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../../../components/sass/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../../../components/sass/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../../../components/sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../../../components/sass/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../../../components/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../../../components/sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../../../components/sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../../../components/sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../../../components/sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../../../components/sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../../../components/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../../../components/sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../../../components/sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../../../components/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../../../components/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../../../components/sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../../../components/sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../../../components/sass/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../../../components/sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 286, ../../../components/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../../../components/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../../../components/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../../../components/sass/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../../../components/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../../../components/sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../../../components/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../../../components/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, ../../../components/sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../../../components/sass/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 435, ../../../components/sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../../../components/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../../../components/sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../../../components/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../../../components/sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../../../components/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../../../components/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 506, ../../../components/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 516, ../../../components/sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 21, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
*/
/* line 6, ../../../components/sass/_base.scss */
html {
  font-size: 0.625em;
}

/* line 11, ../../../components/sass/_base.scss */
body {
  color: #4D4D4D;
  font-family: Lato, Arial, sans-serif;
  font-size: 0.625rem;
  line-height: 0.825rem;
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 22, ../../../components/sass/_base.scss */
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 32, ../../../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Lato, Arial, sans-serif;
  margin: 0.1em 0;
}

/* line 38, ../../../components/sass/_base.scss */
h1 {
  font-size: 48px;
  line-height: 50px;
  margin-top: 0;
}

/* line 44, ../../../components/sass/_base.scss */
h2 {
  font-size: 42px;
  line-height: 46px;
}

/* line 49, ../../../components/sass/_base.scss */
h3 {
  font-size: 36px;
  line-height: 42px;
}

/* line 54, ../../../components/sass/_base.scss */
h4 {
  font-size: 24px;
  line-height: 28px;
}

/* line 59, ../../../components/sass/_base.scss */
h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/* line 65, ../../../components/sass/_base.scss */
h6 {
  font-size: 18px;
  line-height: 28px;
}

/* line 75, ../../../components/sass/_base.scss */
blockquote {
  font-size: 14px;
}

/* line 79, ../../../components/sass/_base.scss */
a {
  color: #0db0d9;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  text-decoration: none;
}
/* line 87, ../../../components/sass/_base.scss */
a:hover {
  color: #13a9ce;
  text-decoration: none;
}

/* remove ios shadow */
/* line 95, ../../../components/sass/_base.scss */
input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 101, ../../../components/sass/_base.scss */
input[type=button] {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* line 109, ../../../components/sass/_base.scss */
.sitebutton {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  padding: 9px 15px;
  border-radius: 2px;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #5c9cc9;
  background-color: transparent;
  color: #5c9cc9;
}

/* line 124, ../../../components/sass/_base.scss */
.sitebutton:hover {
  color: #fff;
  border: 1px solid #5ac5c5;
  background-color: #5ac5c5;
}

/* line 130, ../../../components/sass/_base.scss */
.preview_overlay_content img {
  width: 20px;
}

/* line 133, ../../../components/sass/_base.scss */
img.preview_show {
  width: 20px;
}

/* popup windows */
/* line 139, ../../../components/sass/_base.scss */
.popupwindow_title {
  color: #4D4D4D;
}

/* view all forums  icon */
/* line 144, ../../../components/sass/_base.scss */
.forums_boxout_contents a img {
  width: 20px;
  margin-right: 8px;
}

/* directory search icon */
/* line 150, ../../../components/sass/_base.scss */
tr.gridheader a img {
  width: 25px;
}

/* media list icons */
/* line 156, ../../../components/sass/_base.scss */
.media_box_cell img {
  width: 18px;
}

/* line 159, ../../../components/sass/_base.scss */
.MediaListRSS img {
  width: 40px;
}

/* signup sheet */
/* line 163, ../../../components/sass/_base.scss */
table.signup tr td, td.signup0 {
  line-height: 0;
  font-size: 0;
  border-collapse: separate;
}

/* line 170, ../../../components/sass/_base.scss */
table.signup tr td img {
  height: 8px !important;
}

/* form styling */
/* line 174, ../../../components/sass/_base.scss */
input {
  -webkit-appearance: none;
}

/* line 177, ../../../components/sass/_base.scss */
input[type="checkbox"] + label, input[type="radio"] + label {
  margin-left: 10px;
}

/* line 183, ../../../components/sass/_base.scss */
.content_page_main .ArticleBody .author {
  display: none;
}

@media (min-width: 768px) {
  /* line 190, ../../../components/sass/_base.scss */
  body {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 196, ../../../components/sass/_base.scss */
  h1 {
    font-size: 48px;
    line-height: 50px;
    margin-top: 0;
  }

  /* line 202, ../../../components/sass/_base.scss */
  h2 {
    font-size: 42px;
    line-height: 46px;
  }

  /* line 207, ../../../components/sass/_base.scss */
  h3 {
    font-size: 36px;
    line-height: 42px;
  }

  /* line 212, ../../../components/sass/_base.scss */
  h4 {
    font-size: 24px;
    line-height: 28px;
  }

  /* line 217, ../../../components/sass/_base.scss */
  h5 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  /* line 223, ../../../components/sass/_base.scss */
  h6 {
    font-size: 18px;
    line-height: 28px;
  }

  /* line 229, ../../../components/sass/_base.scss */
  p {
    margin-bottom: 24px;
  }

  /* line 233, ../../../components/sass/_base.scss */
  blockquote {
    font-size: 16px;
  }
}
/* line 10, ../../../components/sass/modules/_slice_header.scss */
.siteLogoName {
  width: 97.58454%;
  float: left;
  margin-left: 1.20773%;
  margin-right: 1.20773%;
}
@media (min-width: 992px) {
  /* line 10, ../../../components/sass/modules/_slice_header.scss */
  .siteLogoName {
    width: 22.58454%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }
}

/* line 20, ../../../components/sass/modules/_slice_header.scss */
.navbar {
  width: 97.58454%;
  float: left;
  margin-left: 1.20773%;
  margin-right: 1.20773%;
}
@media (min-width: 992px) {
  /* line 20, ../../../components/sass/modules/_slice_header.scss */
  .navbar {
    width: 72.58454%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }
}

/* line 33, ../../../components/sass/modules/_slice_header.scss */
.slice_header {
  /* ==========================================================================
     Slicknav
     ========================================================================== */
}
/* line 35, ../../../components/sass/modules/_slice_header.scss */
.slice_header .siteLogoName {
  text-align: center;
  height: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}
/* line 42, ../../../components/sass/modules/_slice_header.scss */
.slice_header .siteLogoName a {
  text-decoration: none;
}
/* line 46, ../../../components/sass/modules/_slice_header.scss */
.slice_header .siteLogo img {
  max-width: 80%;
}
/* line 50, ../../../components/sass/modules/_slice_header.scss */
.slice_header .siteLogoName .siteName a {
  font-size: 2.6rem;
  color: #063642;
  margin-bottom: 75px;
  vertical-align: middle;
}
/* line 57, ../../../components/sass/modules/_slice_header.scss */
.slice_header .navbar {
  display: none;
}
/* line 61, ../../../components/sass/modules/_slice_header.scss */
.slice_header nav {
  background-color: transparent;
  height: 44px;
}
/* line 66, ../../../components/sass/modules/_slice_header.scss */
.slice_header nav a {
  color: #424242;
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
  -webkit-transition: background-color 400ms ease;
  -moz-transition: background-color 400ms ease;
  -ms-transition: background-color 400ms ease;
  -o-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  text-decoration: none;
  text-transform: capitalize;
}
/* line 80, ../../../components/sass/modules/_slice_header.scss */
.slice_header nav ul {
  list-style-type: none;
}
/* line 86, ../../../components/sass/modules/_slice_header.scss */
.slice_header .root_menu ul {
  display: none;
}
/* line 90, ../../../components/sass/modules/_slice_header.scss */
.slice_header .root_menu li {
  position: relative;
}
/* line 93, ../../../components/sass/modules/_slice_header.scss */
.slice_header .root_menu li:hover > ul {
  display: block;
}
/* line 98, ../../../components/sass/modules/_slice_header.scss */
.slice_header .root_menu > li {
  float: left;
  position: relative;
  margin-top: 4px;
}
/* line 103, ../../../components/sass/modules/_slice_header.scss */
.slice_header .root_menu > li > a {
  padding: 9px 20px;
}
/* line 108, ../../../components/sass/modules/_slice_header.scss */
.slice_header .root_menu > li ul {
  position: absolute;
  top: 100%;
  left: 0;
  background: #5c9cc9;
  min-width: 210px;
  padding: 7px 0;
  z-index: 999;
}
/* line 117, ../../../components/sass/modules/_slice_header.scss */
.slice_header .root_menu > li ul a {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 3px 23px;
}
/* line 124, ../../../components/sass/modules/_slice_header.scss */
.slice_header .root_menu > li ul ul {
  top: -7px;
  left: 100%;
}
/* line 129, ../../../components/sass/modules/_slice_header.scss */
.slice_header .root_menu > li ul li.has_sub_menu:before {
  content: ">";
  color: #fff;
  position: absolute;
  right: 8px;
  top: 0;
  line-height: 30px;
  height: 30px;
}
/* line 144, ../../../components/sass/modules/_slice_header.scss */
.slice_header .root_menu > li:hover > a {
  background-color: #3c84b6;
  color: #f5f9fc;
}
/* line 149, ../../../components/sass/modules/_slice_header.scss */
.slice_header .root_menu > li li:hover > a {
  color: #163043;
}
/* line 160, ../../../components/sass/modules/_slice_header.scss */
.slice_header #mobile_menu {
  display: none;
}
/* line 171, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
}
/* line 179, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}
/* line 183, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu {
  *zoom: 1;
}
/* line 185, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.125rem;
  float: left;
}
/* line 190, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}
/* line 194, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_no-text {
  margin: 0;
}
/* line 197, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
/* line 208, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu:before {
  content: " ";
  display: table;
}
/* line 212, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu:after {
  content: " ";
  display: table;
  clear: both;
}
/* line 218, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav {
  clear: both;
}
/* line 220, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav ul {
  display: block;
}
/* line 223, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav li {
  display: block;
}
/* line 226, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
  float: right;
  font-family: arial;
}
/* line 232, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav .slicknav_item {
  cursor: pointer;
}
/* line 234, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav .slicknav_item a {
  display: inline;
}
/* line 238, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav .slicknav_row {
  display: block;
}
/* line 241, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav a {
  display: block;
}
/* line 244, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav .slicknav_parent-link a {
  display: inline;
}
/* line 248, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_brand {
  float: left;
}
/* line 254, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
  background: #5c9cc9;
  padding: 5px 0;
}
/* line 259, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu * {
  box-sizing: border-box;
}
/* line 262, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_menutxt {
  color: #FFFFFF;
  font-weight: normal;
  text-shadow: none;
  background: #5c9cc9;
}
/* line 268, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_menu .slicknav_icon-bar {
  background-color: #FFFFFF;
}
/* line 272, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_btn {
  margin: 0;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
}
/* line 281, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_btn.slicknav_open {
  background-color: transparent;
}
/* line 285, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav {
  color: #FFFFFF;
  margin: 0;
  padding: 8px 12px;
  font-size: 0.625rem;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
}
/* line 293, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
/* line 299, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav .slicknav_row {
  padding: 10px;
  margin: 0;
}
/* line 303, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav .slicknav_row:hover {
  background: #5c9cc9;
  color: #FFFFFF;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 312, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav a {
  padding: 10px;
  margin: 2px 0px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #FFFFFF;
}
/* line 318, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav a:hover {
  background: transparent;
  color: #3676a3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 326, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
/* line 329, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav .slicknav_item a {
  padding: 0;
  margin: 0;
}
/* line 333, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}
/* line 338, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_brand {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
}
/* line 346, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_open > a {
  background: transparent;
  color: #FFFFFF;
}
/* line 351, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_open > a a, .slice_header .slicknav_open > a > a {
  color: #FFFFFF !important;
}
/* line 355, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_open > ul {
  background: #6fa8cf;
  padding-left: 12px;
}
/* line 359, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_open > ul li a {
  padding-left: 12px;
}
/* line 364, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_btn.slicknav_open .slicknav_icon:before {
  content: 'X';
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  text-align: center;
  text-indent: 0px;
  width: 12px;
  height: 12px;
  display: block;
  margin: 0 3px;
}
/* line 379, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_btn.slicknav_open .slicknav_icon .slicknav_icon-bar {
  display: none;
}
/* line 387, ../../../components/sass/modules/_slice_header.scss */
.slice_header .slicknav_nav ul .slicknav_parent.slicknav_open > .slciknav_row {
  background-color: #5c9cc9;
}
@media only screen and (min-width: 768px) {
  /* line 392, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar {
    display: block;
    margin-bottom: 20px;
    margin-top: 0;
  }
  /* line 397, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .siteLogo img {
    max-width: 96%;
  }
  /* line 400, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .siteLogoName .siteName a {
    font-size: 3.64rem;
  }
  /* line 403, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .siteLogoName {
    text-align: center;
  }
  /* line 406, ../../../components/sass/modules/_slice_header.scss */
  .slice_header #mobile_nav {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  /* line 413, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .siteLogoName {
    margin-top: 30px;
  }
  /* line 417, ../../../components/sass/modules/_slice_header.scss */
  .slice_header nav a {
    font-size: 1.6rem;
  }
  /* line 421, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .root_menu {
    padding-left: 0;
    margin: 0 auto;
  }
  /* line 425, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .root_menu > li > a {
    padding: 9px 10px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 434, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar {
    margin-top: 32px;
  }
  /* line 437, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .navbar a {
    font-size: 1.8rem;
  }
  /* line 442, ../../../components/sass/modules/_slice_header.scss */
  .slice_header .root_menu > li ul a {
    font-size: 1.6rem;
  }
}

/* line 7, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides {
  margin-top: 0;
}
/* line 10, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .bx-wrapper {
  margin-bottom: 0;
}
/* line 15, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .gallery_ul {
  display: none;
}
/* line 18, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .gallery_li img {
  height: 100%;
  width: 100%;
}
/* line 23, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bx-wrapper {
  border: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  left: 0 !important;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
/* line 36, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bannerSlides .gallery_ul {
  padding: 0;
}
/* line 40, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bx-controls.bx-has-pager {
  position: absolute;
  width: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 50px;
  display: none;
}
/* line 50, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bx-wrapper .bx-pager.bx-default-pager a {
  background: #c6c6c6;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  width: 14px;
  height: 14px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
/* line 62, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .bx-wrapper .bx-pager.bx-default-pager a:hover,
.slice_slideshow_full_width .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #0067b0;
}
/* line 66, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .caption {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 76, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .caption .divider {
  border-top: 4px solid #d9cdc7;
  opacity: 0.6;
  margin: 15px auto;
  max-width: 300px;
  text-align: center;
  display: none;
}
/* line 85, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .caption .slideTitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, Arial, sans-serif;
  color: white;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 600;
  text-align: center;
}
/* line 96, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .caption .slideText {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Lato, Arial, sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
  line-height: 2.5rem;
  font-weight: 600;
  text-align: center;
  display: none;
}
/* line 107, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .caption .slideButton {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  display: none;
  font-family: Lato, Arial, sans-serif;
  font-size: 15px;
  padding: 10px 16px;
  border-radius: 3px;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  -webkit-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
  -o-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
  transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
  text-decoration: none;
}
/* line 124, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
.slice_slideshow_full_width .caption .slideButton:hover {
  background-color: #FFFFFF;
  color: #5c9cc9;
}
@media (min-width: 480px) {
  /* line 130, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .caption {
    top: 8%;
  }
  /* line 134, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .caption .divider {
    display: block;
  }
  /* line 138, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .caption .slideTitle {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  /* line 142, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .caption .slideText {
    display: block;
  }
}
@media (min-width: 768px) {
  /* line 149, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .caption {
    top: 8%;
  }
  /* line 153, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .caption .slideTitle {
    font-size: 5rem;
    line-height: 5.5rem;
  }
  /* line 157, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .caption .slideButton {
    display: block;
  }
  /* line 161, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .bx-controls.bx-has-pager {
    display: block;
  }
}
@media (min-width: 992px) {
  /* line 167, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .caption {
    top: 12%;
  }
  /* line 171, ../../../components/sass/modules/_slice_slideshow_full_width.scss */
  .slice_slideshow_full_width .caption .slideTitle {
    font-size: 7rem;
    line-height: 7.5rem;
  }
}

/* line 9, ../../../components/sass/modules/_slice_blocks2.scss */
.slice_blocks2 .block2-1, .slice_blocks2 .block2-2, .slice_blocks2 .mapButton {
  width: 97.58454%;
  float: left;
  margin-left: 1.20773%;
  margin-right: 1.20773%;
}
@media (min-width: 467px) {
  /* line 13, ../../../components/sass/modules/_slice_blocks2.scss */
  .slice_blocks2 .block2-1 {
    width: 47.58454%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }
}
@media (min-width: 467px) {
  /* line 18, ../../../components/sass/modules/_slice_blocks2.scss */
  .slice_blocks2 .block2-2 {
    width: 30.91787%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }
}
/* line 24, ../../../components/sass/modules/_slice_blocks2.scss */
.slice_blocks2 .mapButton {
  margin-left: 41.66667%;
}
@media (min-width: 467px) {
  /* line 24, ../../../components/sass/modules/_slice_blocks2.scss */
  .slice_blocks2 .mapButton {
    width: 14.25121%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }
}

/* line 37, ../../../components/sass/modules/_slice_blocks2.scss */
.slice_blocks2 .block2-1, .slice_blocks2 .block2-2 {
  padding: 30px 30px 30px 60px;
  color: #424242;
  font-size: 1.6rem;
  line-height: 1.8rem;
  background-position: 25px 27px;
  background-repeat: no-repeat;
}
/* line 45, ../../../components/sass/modules/_slice_blocks2.scss */
.slice_blocks2 .block2-1 span, .slice_blocks2 .block2-2 span {
  color: #0067b0;
  font-weight: 700;
}
/* line 51, ../../../components/sass/modules/_slice_blocks2.scss */
.slice_blocks2 .block2-1 {
  background-image: url(../images/icon-clock.png);
  padding-bottom: 0;
}
@media (min-width: 467px) {
  /* line 51, ../../../components/sass/modules/_slice_blocks2.scss */
  .slice_blocks2 .block2-1 {
    padding-bottom: 30px;
  }
}
/* line 60, ../../../components/sass/modules/_slice_blocks2.scss */
.slice_blocks2 .block2-2 {
  background-image: url(../images/icon-marker.png);
}
/* line 64, ../../../components/sass/modules/_slice_blocks2.scss */
.slice_blocks2 .mapButton {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 12px 15px;
  border-radius: 2px;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #5c9cc9;
  background-color: #5c9cc9;
  color: #FFFFFF;
  width: 65px;
}
@media (min-width: 467px) {
  /* line 81, ../../../components/sass/modules/_slice_blocks2.scss */
  .slice_blocks2 .mapButton {
    margin-right: 5px;
    margin-top: 27px;
  }
}
@media (min-width: 768px) {
  /* line 88, ../../../components/sass/modules/_slice_blocks2.scss */
  .slice_blocks2 .mapButton {
    margin-right: 5px;
    margin-top: 27px;
    padding: 5px 15px;
  }
}

/* line 11, ../../../components/sass/modules/_slice_blocks3.scss */
.slice_blocks3 .blocks3 > div {
  width: 97.58454%;
  float: left;
  margin-left: 1.20773%;
  margin-right: 1.20773%;
  margin-bottom: 40px;
}
/* line 15, ../../../components/sass/modules/_slice_blocks3.scss */
.slice_blocks3 .blocks3 > div:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 467px) {
  /* line 11, ../../../components/sass/modules/_slice_blocks3.scss */
  .slice_blocks3 .blocks3 > div {
    width: 47.58454%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }
  /* line 22, ../../../components/sass/modules/_slice_blocks3.scss */
  .slice_blocks3 .blocks3 > div:last-of-type {
    margin-left: 25%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  /* line 11, ../../../components/sass/modules/_slice_blocks3.scss */
  .slice_blocks3 .blocks3 > div {
    width: 30.91787%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }
  /* line 32, ../../../components/sass/modules/_slice_blocks3.scss */
  .slice_blocks3 .blocks3 > div:last-of-type {
    margin-left: 1.20773%;
    margin-top: 0;
  }
}

/* line 46, ../../../components/sass/modules/_slice_blocks3.scss */
.slice_blocks3 {
  padding: 56px 0 60px;
  background-color: #f2f2f5;
}
/* line 22, ../../../components/sass/_mixins.scss */
.slice_blocks3:before, .slice_blocks3:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
.slice_blocks3:after {
  clear: both;
}
/* line 51, ../../../components/sass/modules/_slice_blocks3.scss */
.slice_blocks3 .blockTitle {
  font-size: 3.6rem;
  line-height: 4.1rem;
  color: #0067b0;
  text-align: center;
  padding: 0 0 40px;
}
/* line 60, ../../../components/sass/modules/_slice_blocks3.scss */
.slice_blocks3 .blocks3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 67, ../../../components/sass/modules/_slice_blocks3.scss */
.slice_blocks3 .blocks3 > div {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
/* line 74, ../../../components/sass/modules/_slice_blocks3.scss */
.slice_blocks3 .blocks3 > div .articleListImage img {
  width: 100%;
}
/* line 80, ../../../components/sass/modules/_slice_blocks3.scss */
.slice_blocks3 .blocks3 > div .articleListSummary {
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #424242;
  padding: 15px 30px 25px !important;
  border-bottom: 2px solid #f2f2f5;
  flex: 1 0 auto;
}
/* line 91, ../../../components/sass/modules/_slice_blocks3.scss */
.slice_blocks3 .blocks3 > div .articleListTitle a {
  font-size: 1.8rem;
  color: #0067b0;
  padding: 18px 10px 18px 30px;
  display: inline-block;
}
/* line 96, ../../../components/sass/modules/_slice_blocks3.scss */
.slice_blocks3 .blocks3 > div .articleListTitle a:hover {
  opacity: 0.7;
}
/* line 101, ../../../components/sass/modules/_slice_blocks3.scss */
.slice_blocks3 .blocks3 > div .articleListTitle:after {
  content: ".";
  display: block;
  float: right;
  background: url(../images/moreArrow.png) no-repeat 0 13px;
  width: 30px;
  height: 40px;
  color: #f2f2f5;
  text-indent: -9999px;
}
@media (min-width: 768px) {
  /* line 114, ../../../components/sass/modules/_slice_blocks3.scss */
  .slice_blocks3 .blocks3 > div .articleListTitle:after {
    background-position: 0px 22px;
  }
}

/* line 9, ../../../components/sass/modules/_slice_blocks4.scss */
.slice_blocks4 .iconBlock {
  width: 47.58454%;
  float: left;
  margin-left: 1.20773%;
  margin-right: 1.20773%;
}
@media (min-width: 768px) {
  /* line 9, ../../../components/sass/modules/_slice_blocks4.scss */
  .slice_blocks4 .iconBlock {
    width: 22.58454%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }
}

/* line 22, ../../../components/sass/modules/_slice_blocks4.scss */
.slice_blocks4 {
  padding: 0 0 60px;
  background-color: #FFFFFF;
}
/* line 22, ../../../components/sass/_mixins.scss */
.slice_blocks4:before, .slice_blocks4:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
.slice_blocks4:after {
  clear: both;
}
/* line 29, ../../../components/sass/modules/_slice_blocks4.scss */
.slice_blocks4 .container .blocks4 {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 35, ../../../components/sass/modules/_slice_blocks4.scss */
.slice_blocks4 .container .blocks4 .iconBlock {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin-top: 50px;
  flex: 1 0 auto;
}
/* line 43, ../../../components/sass/modules/_slice_blocks4.scss */
.slice_blocks4 .container .blocks4 .iconBlock .iconBlockImage {
  flex: 1 0 auto;
  min-height: 65px;
}
/* line 46, ../../../components/sass/modules/_slice_blocks4.scss */
.slice_blocks4 .container .blocks4 .iconBlock .iconBlockImage img {
  width: initial;
}
/* line 51, ../../../components/sass/modules/_slice_blocks4.scss */
.slice_blocks4 .container .blocks4 .iconBlock .iconBlockTitle {
  flex: 1 0 auto;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #0067b0;
  padding: 10px 15px;
}
/* line 60, ../../../components/sass/modules/_slice_blocks4.scss */
.slice_blocks4 .container .blocks4 .iconBlock .iconBlockSummary {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #424242;
  padding: 10px 30px 20px !important;
  flex: 1 0 auto;
}
/* line 68, ../../../components/sass/modules/_slice_blocks4.scss */
.slice_blocks4 .container .blocks4 .iconBlock .iconBlockLink a {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #0067b0;
  padding: 14px 0 18px;
  flex: 1 0 auto;
}
/* line 74, ../../../components/sass/modules/_slice_blocks4.scss */
.slice_blocks4 .container .blocks4 .iconBlock .iconBlockLink a:hover {
  opacity: 0.7;
}

/* line 9, ../../../components/sass/modules/_slice_footertop.scss */
.footer-social-icons {
  width: 97.58454%;
  float: left;
  margin-left: 1.20773%;
  margin-right: 1.20773%;
}

/* line 13, ../../../components/sass/modules/_slice_footertop.scss */
.footer-column {
  width: 97.58454%;
  float: left;
  margin-left: 1.20773%;
  margin-right: 1.20773%;
}

@media (min-width: 768px) {
  /* line 20, ../../../components/sass/modules/_slice_footertop.scss */
  .contact-column {
    width: 97.58454%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }

  /* line 24, ../../../components/sass/modules/_slice_footertop.scss */
  .login-column {
    width: 47.58454%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }

  /* line 28, ../../../components/sass/modules/_slice_footertop.scss */
  .search-column {
    width: 47.58454%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }
}
@media (min-width: 992px) {
  /* line 36, ../../../components/sass/modules/_slice_footertop.scss */
  .contact-column {
    width: 30.91787%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }

  /* line 40, ../../../components/sass/modules/_slice_footertop.scss */
  .login-column {
    width: 30.91787%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
    padding-left: 8.33333%;
  }

  /* line 45, ../../../components/sass/modules/_slice_footertop.scss */
  .search-column {
    width: 30.91787%;
    float: left;
    margin-left: 1.20773%;
    margin-right: 1.20773%;
  }
}
/* line 55, ../../../components/sass/modules/_slice_footertop.scss */
.footertop1 {
  background-color: #5c9cc9;
}

/* line 59, ../../../components/sass/modules/_slice_footertop.scss */
.greeting_div {
  display: none;
}

/* line 63, ../../../components/sass/modules/_slice_footertop.scss */
.search_title {
  display: none;
}

/* line 67, ../../../components/sass/modules/_slice_footertop.scss */
.footer-social-icons {
  text-align: center;
  height: 76px;
}
/* line 71, ../../../components/sass/modules/_slice_footertop.scss */
.footer-social-icons .icon-social {
  line-height: 65px;
  display: inline-block;
}
/* line 75, ../../../components/sass/modules/_slice_footertop.scss */
.footer-social-icons .icon-social img {
  vertical-align: middle;
  display: inline-block;
}
/* line 80, ../../../components/sass/modules/_slice_footertop.scss */
.footer-social-icons .icon-social:nth-child(2) {
  margin: 0 10%;
}
/* line 84, ../../../components/sass/modules/_slice_footertop.scss */
.footer-social-icons .icon-social:hover {
  opacity: 0.7;
}

/* line 95, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 {
  color: #c6c6c6;
  background-color: #3a3a3a;
}
/* line 99, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 a {
  color: #c6c6c6;
}
/* line 103, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container {
  padding-top: 32px;
  padding-bottom: 37px;
  border-bottom: 1px solid #555555;
}
/* line 108, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .footer-column {
  padding-top: 20px;
}
/* line 111, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .footer-column.contact-column {
  line-height: 25px;
  text-align: center;
  font-size: 1.6rem;
}
@media (min-width: 992px) {
  /* line 111, ../../../components/sass/modules/_slice_footertop.scss */
  .footertop2 .container .footer-column.contact-column {
    text-align: left;
  }
}
/* line 123, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .footer-column.search-column {
  text-align: center;
}
/* line 126, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .footer-column.search-column > div {
  margin: 0 auto;
  width: 242px;
}
@media (min-width: 768px) {
  /* line 126, ../../../components/sass/modules/_slice_footertop.scss */
  .footertop2 .container .footer-column.search-column > div {
    width: 270px;
  }
}
@media (min-width: 992px) {
  /* line 126, ../../../components/sass/modules/_slice_footertop.scss */
  .footertop2 .container .footer-column.search-column > div {
    float: right;
  }
}
/* line 139, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .footer-column.search-column .search_title {
  display: none;
}
/* line 143, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .footer-column.search-column .search_div {
  margin-left: 0;
}
@media (min-width: 768px) {
  /* line 143, ../../../components/sass/modules/_slice_footertop.scss */
  .footertop2 .container .footer-column.search-column .search_div {
    margin-left: 30px;
  }
}
@media (min-width: 992px) {
  /* line 143, ../../../components/sass/modules/_slice_footertop.scss */
  .footertop2 .container .footer-column.search-column .search_div {
    margin-left: 35px;
  }
}
/* line 156, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .footer-column.search-column .search_div input {
  display: inline-block;
  width: 180px;
  height: 45px;
  float: left;
  border: 2px solid #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 16px;
  padding: 8px 12px;
  color: #a0a0a0;
  -webkit-appearance: none;
}
/* line 172, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .footer-column.search-column .search_div input:focus {
  border-color: #31a7de;
  color: #000;
  outline: none;
}
/* line 179, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .footer-column.search-column input.button {
  width: 50px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  float: left;
  margin: 0;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #5c9cc9;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 194, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .footer-column.search-column input.button:hover {
  background-color: #a9cbe2;
  border: none;
}
/* line 199, ../../../components/sass/modules/_slice_footertop.scss */
.footertop2 .container .footer-column.search-column input.button:focus {
  outline: none;
}

/* line 5, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar {
  background-color: #3a3a3a;
}
/* line 9, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar {
  font-size: 1.3rem;
  text-align: center;
  padding: 20px 0 20px;
  line-height: 30px;
}
/* line 15, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar a {
  display: inline-block;
  text-decoration: none;
  color: #b1b1b1;
}
/* line 19, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar a:hover {
  color: #FFFFFF;
}
/* line 23, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar a#footer_mobile, .slice_footerbar .footerbar a#footer_copyright, .slice_footerbar .footerbar a#footer_tc, .slice_footerbar .footerbar a#footer_privacy, .slice_footerbar .footerbar a #footer_help {
  line-height: 16px;
}
/* line 27, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar a#footer_mobile::after, .slice_footerbar .footerbar a#footer_copyright::after, .slice_footerbar .footerbar a#footer_tc::after, .slice_footerbar .footerbar a#footer_privacy::after {
  content: "";
  padding-left: 4px;
  margin-right: 4px;
}
/* line 33, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar a.footer {
  float: left;
  width: 100%;
  border: none;
  text-indent: -9999px;
  background-image: url("../images/churchinsight-logo.png");
  background-size: 158px 28px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  height: 30px;
  margin-bottom: 10px;
}
/* line 46, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar a.footer.footer:hover {
  background-image: url("../images/churchinsight-logo-hover.png");
}
/* line 51, ../../../components/sass/modules/_slice_footerbar.scss */
.slice_footerbar .footerbar span#footer_charity {
  float: right;
  width: 100%;
  color: #b1b1b1;
}
@media (min-width: 992px) {
  /* line 9, ../../../components/sass/modules/_slice_footerbar.scss */
  .slice_footerbar .footerbar {
    padding: 25px 0 0;
  }
  /* line 63, ../../../components/sass/modules/_slice_footerbar.scss */
  .slice_footerbar .footerbar a.footer {
    width: 25%;
    margin-bottom: 25px;
  }
  /* line 68, ../../../components/sass/modules/_slice_footerbar.scss */
  .slice_footerbar .footerbar a#footer_mobile::after, .slice_footerbar .footerbar a#footer_copyright::after, .slice_footerbar .footerbar a#footer_tc::after, .slice_footerbar .footerbar a#footer_privacy::after {
    content: "|";
    padding-left: 10px;
    margin-right: 10px;
    color: #b1b1b1;
  }
  /* line 77, ../../../components/sass/modules/_slice_footerbar.scss */
  .slice_footerbar .footerbar span#footer_charity {
    width: 25%;
  }
}

/* line 5, ../../../components/sass/modules/_system_statusbar.scss */
.greeting_div {
  display: none;
}

/* line 11, ../../../components/sass/modules/_system_statusbar.scss */
.login-column .statusbar {
  margin: 0 auto;
  width: 225px;
}
/* line 16, ../../../components/sass/modules/_system_statusbar.scss */
.login-column .statusbar a {
  display: inline-block;
  height: 45px;
  margin-right: 5px;
  padding-top: 15px;
  padding-right: 17px;
  padding-left: 17px;
  border: 2px solid #555555;
  border-radius: 2px;
  background-color: transparent;
  font-size: 1.6rem;
  color: #c6c6c6;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 768px) {
  /* line 32, ../../../components/sass/modules/_system_statusbar.scss */
  .login-column .statusbar a {
    padding-top: 8px;
  }
}
/* line 37, ../../../components/sass/modules/_system_statusbar.scss */
.login-column .statusbar a:hover {
  border-color: #6f6f6f;
}

/* line 52, ../../../components/sass/modules/_system_statusbar.scss */
#DivLoginBox {
  margin-left: -8px;
  margin-top: -50px;
  background-color: #FFF;
  position: fixed !important;
  border-style: outset !important;
  border-width: 2px !important;
  border-color: rgba(69, 95, 107, 0.2) !important;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  line-height: 2.0rem;
}
@media (max-width: 467px) {
  /* line 52, ../../../components/sass/modules/_system_statusbar.scss */
  #DivLoginBox {
    top: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    left: 0px !important;
    z-index: 10000 !important;
    height: 100% !important;
  }
  /* line 74, ../../../components/sass/modules/_system_statusbar.scss */
  #DivLoginBox div {
    width: 300px;
    margin: auto;
  }
}
@media (min-width: 467px) {
  /* line 52, ../../../components/sass/modules/_system_statusbar.scss */
  #DivLoginBox {
    height: 290px !important;
  }
}
@media (min-width: 992px) {
  /* line 52, ../../../components/sass/modules/_system_statusbar.scss */
  #DivLoginBox {
    margin-left: 0;
    margin-top: 0;
  }
}
/* line 94, ../../../components/sass/modules/_system_statusbar.scss */
#DivLoginBox .shadedbox .gridheader {
  font-size: 2rem;
  font-weight: 700;
  height: 50px;
}
/* line 100, ../../../components/sass/modules/_system_statusbar.scss */
#DivLoginBox .shadedbox td {
  padding: 2px 0;
}
/* line 104, ../../../components/sass/modules/_system_statusbar.scss */
#DivLoginBox .shadedbox td label {
  font-size: 1.3rem;
  font-weight: 400;
}
/* line 109, ../../../components/sass/modules/_system_statusbar.scss */
#DivLoginBox .shadedbox td a {
  text-decoration: none;
  color: #0db0d9;
}
/* line 114, ../../../components/sass/modules/_system_statusbar.scss */
#DivLoginBox .shadedbox td a:hover {
  color: #13a9ce;
}
/* line 118, ../../../components/sass/modules/_system_statusbar.scss */
#DivLoginBox .shadedbox td img {
  display: none;
}
/* line 122, ../../../components/sass/modules/_system_statusbar.scss */
#DivLoginBox .shadedbox td .button {
  font-size: 1.6rem;
  width: 100px !important;
  margin: 0 !important;
  margin-bottom: 10px !important;
  display: inline-block;
  height: 45px;
  margin-top: 10px;
  margin-right: 5px;
  padding: 8px 17px 11px;
  border-radius: 2px;
  -webkit-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
  -o-transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
  transition: background-color 500ms ease, border-color 500ms ease, color 500ms ease;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #5c9cc9;
  background-color: #5c9cc9;
  color: #FFFFFF;
}
/* line 144, ../../../components/sass/modules/_system_statusbar.scss */
#DivLoginBox .shadedbox td .button:hover, #DivLoginBox .button:hover {
  background-color: #82b3d6;
  border: 2px solid #82b3d6;
  color: #FFFFFF;
}
/* line 150, ../../../components/sass/modules/_system_statusbar.scss */
#DivLoginBox .shadedbox td .button:focus {
  outline: none;
}
